<!-- With Search -->
	<div class="card-panel">
		<h4>查看</h4>
		<div class="row">
			<div class="col s1 "></div>
			<div class="col s4 ">
				
					configkey<input type="text" name="configkey" value="{{model.configkey}}"  readonly="readonly" />
					value<input type="text" name="value" value="{{model.value}}" readonly="readonly" />
					configdescription<input type="text" name="configdescription" value="{{model.configdescription}}" readonly="readonly" />
			
			
			</div>
		
		
		</div>
	</div>
	<!-- /With Search --> 