<!-- With Search -->
	<div class="card-panel">
		<h4>查看</h4>
		<div class="row">
			<div class="col s1 "></div>
			<div class="col s4 ">
				<form ng-submit="processForm()">
							                      <div class="input-field"> 
				       <input type="text" name="createTime" ng-model="formData.configkey" required />
				       <label for="input_text">createTime：{{appConfig.configkey}}</label>
				     </div>
							                      <div class="input-field"> 
				       <input type="text" name="creatorId"  ng-model="formData.value" required />
				       <label for="input_text">creatorId：{{appConfig.value}}</label>
				     </div>
							                      <div class="input-field"> 
				       <input type="text" name="name" ng-model="formData.configdescription" />
				       <label for="input_text">name：{{appConfig.configdescription}}</label>
				     </div>
							                      <div class="input-field"> 
				  
				     </div>
				</form>
			</div>
		
		
		</div>
	</div>
	<!-- /With Search --> 