<!-- With Search -->
	<div class="card-panel">
		<h4>数据字典树</h4>

		<div class="row">
			<div class="col s12 ">
			<div class="col s2">
				<!-- 增加按钮 -->
					<a class="btn"  ng-click="fnAdd('{{HRY.host}}{{HRY.modules.web}}app/appdictionary/add')">添加</a>
				</div>
			</div> 
				
			   <div class="col s6">
				数据字典树
				<div id="tree" class="ztree" >
				</div>
			</div>
			

			</div>
		</div>
	</div>
<!-- With Search -->
	<div class="card-panel  hide"  id="modifyNodeDiv">
		<div class="row ">
		<form ng-submit="processForm()">
			<div class="col s6 ">
			     <div class="input-field"> 
				   值    <input type="text"name="itemValue" ng-model="formData.itemValue" required />
				     </div>
					 <div class="input-field"> 
				    名字   <input type="text" name="itemName" ng-model="formData.itemName"  required/>
				     </div>
				     	 <div class="input-field"> 
				   key    <input type="text" name="dicKey" ng-model="formData.dicKey"  required/>
				     </div>
			</div>
			<div class="col s6 ">
				
				
					 <div class="input-field"> 
				     描述  <input type="text" name="dicDescrption" ng-model="formData.dicDescrption" />
				     </div>
					 <div class="input-field"> 
				      排序 <input type="number"  name="orderNo"  ng-model="formData.orderNo" required  ng-pattern="/^\+?[1-9][0-9]*$/"/>
				     </div>
			          <div class="input-field"> 
				 父key      <input type="text"  name="pDicKey"  ng-model="formData.pDicKey"  readOnly/>
				     </div>       
					 <button class="waves-effect btn" type="submit">修改</button><span >{{ message }}</span>
						
				
				</div>
			</form>
			
			</div>
		
		</div>
	</div>
	<!-- /With Search --> 