
 <!-- Copyright:   北京互融时代软件有限公司 -->
 <!-- ApplogthirdinterfaceList.html     -->
 <!-- @author:      shangxl  -->
 <!-- @version:     V1.0             -->
 <!-- @Date:        2017-07-28 15:16:24      -->

<div class="card-panel">
	<h4>
		<i class="mdi-action-view-list fs-26"></i> <span class="fs-16 p-5">修改AppLogThirdInterface</span>
		<!-- 返回按钮 -->
		<a class="btn fs-16 right" href="#/web/app/applogthirdinterface/list/anon">返回</a>
	</h4>
	<hr>
	<form ng-submit="processForm()">
		<div class="row">
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="url" ng-model="formData.url" /> <label for="url">url</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="params" ng-model="formData.params" /> <label for="params">params</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="result" ng-model="formData.result" /> <label for="result">result</label>
				</div>
			</div>
			
		</div>
		
		<div class="row">
			<p class="center mb-20">
				<!-- 保存按钮 -->
				<button class="btn" type="submit" >保存</button>
			</p>
		</div>
	</form>
</div>


