	<div class="row">
	<div class="col s12">
        <div class="card-panel">
	         <div class="col s12">
	         	<i class="mdi-action-view-list fs-26"></i>
	         	<span class="fs-16 p-5">操作日志详细信息</span>
			     <a class="btn" ng-click="ngback()">返回</a>
			 </div>
	        <div class="col s12 m5">
	        	<div class="input-field">
				  <input  type="text" class="validate" title="{{applog.className}}"    ng-model="applog.className" disabled="disabled">
				  <label for="" class="active">类名</label>
				</div>
	        </div>
	        <div class="col s12 m2"></div>
	        <div class="col s12 m5">
	        	<div class="input-field">
				  <input  type="text" class="validate" title="{{applog.methodName}}"  ng-model="applog.methodName" disabled="disabled">
				  <label for="input_email" class="active">方法名</label>
				</div>
	        </div>
	        <div class="col s12 m5">
	        	<div class="input-field">
				  <input  type="text" class="validate" title="{{applog.methodFullName}}"   ng-model="applog.methodFullName" disabled="disabled">
				  <label for="input_email" class="active">方法全名</label>
				</div>
	        </div>
	        <div class="col s12 m2"></div>
	        <div class="col s12 m5">
	        	<div class="input-field">
				  <input  type="text" class="validate" title="{{applog.methodCnName}}"   ng-model="applog.methodCnName" disabled="disabled">
				  <label for="input_email" class="active">中文方法名</label>
				</div>
	        </div>
	        <div class="col s12 m5">
	        	<div class="input-field">
				  <input  type="text" class="validate" title="{{applog.argsContent}}"  ng-model="applog.argsContent" disabled="disabled">
				  <label for="input_email" class="active">参数内容</label>
				</div>
	        </div>
	        <div class="col s12 m2"></div>
	        <div class="col s12 m5">
			    <div class="input-field">
				  <input  type="text" class="validate" title="{{applog.returnValue}}"  ng-model="applog.returnValue" disabled="disabled">
				  <label for="input_email" class="active">返回值</label>
				</div>  	
	        </div>
	        <div class="col s12 m5">
			    <div class="input-field">
				  <input  type="text" class="validate" title="{{applog.ip}}" ng-model="applog.ip" disabled="disabled">
				  <label for="input_email" class="active">ip地址</label>
				</div>  	
	        </div>
	        <div class="col s12 m2"></div>
	        <div class="col s12 m5">
			    <div class="input-field">
				  <input  type="text" class="validate" title="{{applog.userName}}"  ng-model="applog.userName" disabled="disabled">
				  <label for="input_email" class="active">操作用户</label>
				</div>  	
	        </div>
        </div>
    </div>
</div>
</div>