
 <!-- Breadcrumb -->
    <div class="page-title">

      <div class="row">
        <div class="col s12 m6 l7">
         <h4>
		<i class="mdi-action-view-list fs-26"></i> <span class="fs-16 p-5">配置应用菜单</span><!-- 返回按钮 -->
	      </h4>
        </div>
       
       <div class="col s12 m6 l5 right-align pr-30">
        <div class="row">
				<a class="btn fs-16 right" href="#/web/menu/appmenutree/list/anon">返回</a>
			</div>
        </div>
       
      </div>

    </div>
    <!-- /Breadcrumb -->


<!-- 分公司管理 -->
<div class="">
	
	<div class="row">
		<div class="col s5">
			<div class="alert green lighten-4 green-text text-darken-2">通过应用树菜单配置系统导航</div>
			<div id="tree" class="ztree"></div>
		</div>
		<div class="col s7">
			<div class="card-panel">
				<i class="mdi-action-view-list fs-26"></i> <span class="fs-16 p-5">添加菜单</span>
				<hr>
				<div class="col m12 s12">
					<div class="input-field">
						菜单名称<input type="text" id="name" required>
					</div>
				</div>
				<div class="col m12 s12">
					<div class="input-field">
						<input type="hidden" name="superiorMenuId" id="superiorMenuId" /> 选择上级<input placeholder="请点击选择上级菜单" type="text" name="superiorMenu" id="superiorMenu" ng-click="selectAppMenuTree();" readonly="readonly" required />
					</div>
				</div>
				<div class="col m12 s12">
					<div class="input-field">
						<input type="hidden" name="functionIds" id="functionIds" /> 配置功能
						<textarea placeholder="请点击选择功能" id="functionName" ng-click="selectAppMenuCust();" class="materialize-textarea" length="120" readonly="readonly"></textarea>
					</div>
				</div>
				<p class="center mb-20">
					<a class="btn" ng-click="fnAdd();">保存</a>
				</p>
			</div>



		</div>
	</div>

	<div class="row mw-500 pl-20 hide" id="selectTreeDiv">
		<div class="col s12">
			<ul id="selectTree" class="ztree"></ul>
		</div>
	</div>

	<!-- 配置功能窗体 -->
	<div class="row hide" id="selectAppMenuCustDiv">

		<div class="col s12">
			<a class="btn" ng-click="fnSelectAppMenuCustTree();">选择</a>

			<div class="row">
				<div class="col m4 s12">
					<div class="input-field">
						<select  data-placeholder="请选择应用" id="appName1" dataTableSerch></select>
					</div>
				</div>

				<div class="col m4 s12">
					<div class="input-field">
						<input type="text" ng-model="serchData.name_like" dataTableSerch> <label for="input_lname">功能名称</label>
					</div>
				</div>
				<div class="col m4 s12">
					<div class="input-field">
						<input type="text" ng-model="serchData.mkey_like" dataTableSerch> <label for="input_lname">功能key</label>
					</div>
				</div>


				<div class="col s12">
					<table id="table1" class="display table table-bordered table-striped table-hover ">
						<thead>
							<tr>
								<th><input type="checkbox" id="checkboxAll" /><label for="checkboxAll"></label></th>
								<th>系统分类</th>
								<th>应用名称</th>
								<th>应用KEY</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row"></div>
		</div>

	</div>
	
	<!-- 修改名称窗体 -->
	<div class="hide pl-10 pr-10" id="modifyNodeDiv">
		<div class="col s10">
			<div class="input-field">
				菜单名称<input type="text" id="modifyNodeName" required>
			</div>
		</div>
		<p class="center mb-20">
			<a class="btn w-150" ng-click="fnModifyNode();">修改</a>
		</p>
	</div>

	<!-- 菜单树的添加功能 -->
	<div class="row  pl-15 mw-900 hide" id="treeAddDiv">
		
		 <!-- Breadcrumb -->
    <div class="page-title" style="margin-top:-40px">

      <div class="row">
        <div class="col s12 m6 l7 ">
         <div class="row">
         <div class="col m4 s12">
					<div class="input-field">
						<select  data-placeholder="请选择应用" id="appName2" dataTableSerch></select>
					</div>
				</div>

				<div class="col m4 s12">
					<div class="input-field">
						<input type="text" ng-model="serchData.name_like" dataTableSerch> <label for="input_lname">功能名称</label>
					</div>
				</div>
				<div class="col m4 s12">
					<div class="input-field">
						<input type="text" ng-model="serchData.mkey_like" dataTableSerch> <label for="input_lname">功能key</label>
					</div>
				</div>
         </div>
        </div>
       
       <div class="col s12 m6 l5 right-align pr-30 pt-20">
        <div class="row">
        <a class="btn" ng-click="fnTreeAddBtn();">添加</a>
			</div>
        </div>
       
      </div>

    </div>
    <!-- /Breadcrumb -->
		
		
		
		
			
			<div class="row">
				
				<div class="col s12">
					<table id="table2" class="display table table-bordered table-striped table-hover ">
						<thead>
							<tr>
								<th><input type="checkbox" id="checkboxAll" /><label for="checkboxAll"></label></th>
								<th>系统分类</th>
								<th>应用名称</th>
								<th>应用KEY</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
			
	
		
		
	</div>



</div>
<!-- /With Search -->


