
 <!-- Copyright:   北京互融时代软件有限公司 -->
 <!-- AppicocoinaccounthotrecordList.html     -->
 <!-- @author:      shangxl  -->
 <!-- @version:     V1.0             -->
 <!-- @Date:        2017-08-18 14:06:56      -->

<div class="card-panel">
	<h4>
		<i class="mdi-action-view-list fs-26"></i> <span class="fs-16 p-5">查看AppIcoCoinAccountHotRecord</span>
		<!-- 返回按钮 -->
		<a class="btn fs-16 right" href="#/ico/coinAccountHotRecord/appicocoinaccounthotrecord/list/anon">返回</a>
	</h4>
	<hr>
	<form ng-submit="processForm()">
		<div class="row">
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="accountId" ng-model="formData.accountId" /> <label for="accountId">数字货币账户id（dm_account）</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="customerId" ng-model="formData.customerId" /> <label for="customerId">用户id</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="userName" ng-model="formData.userName" /> <label for="userName">用户登录名</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="recordType" ng-model="formData.recordType" /> <label for="recordType">流水类型 （ 1增加 2减少）</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="transactionMoney" ng-model="formData.transactionMoney" /> <label for="transactionMoney">交易金额</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="transactionNum" ng-model="formData.transactionNum" /> <label for="transactionNum">transactionNum</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="status" ng-model="formData.status" /> <label for="status">流水状态( 0处理中 5成功 10失败 )</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="remark" ng-model="formData.remark" /> <label for="remark">交易备注</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="currencyType" ng-model="formData.currencyType" /> <label for="currencyType">货币类型（BTC, LTC ）</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="coinCode" ng-model="formData.coinCode" /> <label for="coinCode">币种（CNY）</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="website" ng-model="formData.website" /> <label for="website">website</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="trueName" ng-model="formData.trueName" /> <label for="trueName">trueName</label>
				</div>
			</div>
			
		</div>
		
		<div class="row">
			<p class="center mb-20">
				<!-- 保存按钮 -->
				<button class="btn" type="submit" >保存</button>
			</p>
		</div>
	</form>
</div>


