
 <!-- Copyright:   北京互融时代软件有限公司 -->
 <!-- AppicocoinaccounthotrecordList.html     -->
 <!-- @author:      shangxl  -->
 <!-- @version:     V1.0             -->
 <!-- @Date:        2017-08-18 14:06:56      -->

<div class="card-panel">
	<h4>
		<i class="mdi-action-view-list fs-26"></i> <span class="fs-16 p-5">查看AppIcoCoinAccountHotRecord</span>
		<!-- 返回按钮 -->
		<a class="btn fs-16 right" href="#/ico/coinAccountHotRecord/appicocoinaccounthotrecord/list/anon">返回</a>
	</h4>
	<hr>
	<form ng-submit="processForm()">
		<div class="row">
			<div class="col s12 m6">
				<div class="input-field">
					数字货币账户id（dm_account）<input type="text" name="accountId" value="{{formData.accountId}}" readonly />
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					用户id<input type="text" name="customerId" value="{{formData.customerId}}" readonly />
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					用户登录名<input type="text" name="userName" value="{{formData.userName}}" readonly />
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					流水类型 （ 1增加 2减少）<input type="text" name="recordType" value="{{formData.recordType}}" readonly />
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					交易金额<input type="text" name="transactionMoney" value="{{formData.transactionMoney}}" readonly />
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					transactionNum<input type="text" name="transactionNum" value="{{formData.transactionNum}}" readonly />
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					流水状态( 0处理中 5成功 10失败 )<input type="text" name="status" value="{{formData.status}}" readonly />
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					交易备注<input type="text" name="remark" value="{{formData.remark}}" readonly />
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					货币类型（BTC, LTC ）<input type="text" name="currencyType" value="{{formData.currencyType}}" readonly />
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					币种（CNY）<input type="text" name="coinCode" value="{{formData.coinCode}}" readonly />
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					website<input type="text" name="website" value="{{formData.website}}" readonly />
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					trueName<input type="text" name="trueName" value="{{formData.trueName}}" readonly />
				</div>
			</div>
			
		</div>
	</form>
</div>


