<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 监控dao、service、controller的执行情况 -->
	<bean id="facadeMonitoringAdvisor" class="net.bull.javamelody.MonitoringSpringAdvisor">
		<property name="pointcut">
			<bean class="org.springframework.aop.support.JdkRegexpMethodPointcut">
				<property name="patterns">
					<list>
						<!-- 正则表达式 -->
						<value>com.mz.*.*.dao..*</value>
						<value>com.mz.*.*.service..*</value>
						<value>com.mz.*.*.controller..*</value>
					</list>
				</property>
			</bean>
		</property>
	</bean>

</beans>
