
 
  <link rel="stylesheet" type="text/css" href="http://localhost/static/static/style/hry.css" />

<div class="row">
	<div class="card-panel">	
		<h4>
			<i class="mdi-action-view-list fs-26"></i>
       		<span class="fs-16 p-5">资金方案配置</span>
		 </h4>
		 <hr>
		  <div class="row">
		  	   <div class="col s12">
                     <div class="btn-group">
					 <!-- 增加按钮 -->
						<a class="btn" ng-click="fnAdd('fundParam/fincfundparamsetting/add')">添加</a>
						<!-- 修改按钮 -->
						<a class="btn" ng-click="fnModify('fundParam/fincfundparamsetting/modify')" >修改</a>
						<!-- 删除按钮 -->
						<a class="btn" ng-click="fnRemove('fundParam/fincfundparamsetting/remove')" >删除</a>
					
					</div>
               </div>
		  </div>
		  <div class="row">		  		 
			<!--左侧导航 -->
			  <div class="_tt_layout_tabnav">
			  	<ul class="_tt_side_subnav">
					<h3 class="fs-20 center">方案名称</h3>
		           <li ng-repeat="l in list" ng-click="changeClass(l)" name={{l.paramsettingKey}}>
		                   <a style="cursor:pointer">{{l.paramsettingName}}</a>
		            </li>
				</ul> 
			</div>
			
			<!--end 左侧导航 -->
			<div class="_tt_layout_container">
		   		<div class="_tt_plan_container">
		   		 <form ng-submit="nextForm()"> 
		   	   <div class="row">		  		 
		   		<div class="col s12">
		   			<div class="input-field">
						*方案名称<input id="paramsettingName"  type="text" ng-model="formData.paramsettingName" readOnly>
				    </div>
		   			<div class="input-field">
						*方案KEY<input  id="paramsettingKey" type="text" ng-model="formData.paramsettingKey" readOnly>
				    </div>
					<div class="input-field">
						*方案适用说明<textarea id="paramsettingRemark" class="materialize-textarea" ng-model="formData.paramsettingRemark" readOnly></textarea>
					</div>
				    <div class="row">
				         <div class="col s9">
						    <div class="input-field">
						     还款方式<input  id="repaymentMethod" type="text" ng-model="formData.repaymentMethod" readOnly>
				            </div>
				          </div>
						<div class="col s3">
							<p>
								 <input type="checkbox"  id="isHiddenRepaymentMethod"  ng-model="formData.isHiddenRepaymentMethod"  disabled />
								 <label for="isHiddenRepaymentMethod">隐藏</label>
							</p>
						</div>								
			        </div>
			          <div class="row">
				         <div class="col s9">
							
							 <div class="input-field">
						            还款周期<input  id="repaymentCycle" type="text" ng-model="formData.repaymentCycle" readOnly>
				            </div>
						</div>
						<div class="col s3">
							<p>
								 <input type="checkbox"  id="isHiddenRepaymentCycle" ng-model="formData.isHiddenRepaymentCycle" disabled />
								 <label for="isHiddenRepaymentCycle">隐藏</label>
							</p>
						</div>								
			        </div>
			         <div class="row">
				         <div class="col s9">
				         	 <div class="input-field">
						           前置情况<input  id="preposePayAccrual" type="text" ng-model="formData.preposePayAccrual" readOnly>
				            </div>
						</div>
						<div class="col s3">
							<p>
								 <input type="checkbox" id="isHiddenPreposePayAccrual" ng-model="formData.isHiddenPreposePayAccrual" disabled />
								 <label for="isHiddenPreposePayAccrual" >隐藏</label>
							</p>
						</div>								
			        </div>
			                 <div class="row">
				         <div class="col s9">
				            <div class="input-field">
						            一次性情况<input  id="interestByOneTime" type="text" ng-model="formData.interestByOneTime" readOnly>
				            </div>
			   			 	<label for="interestByOneTime">*一次性情况</label>
						</div>
						<div class="col s3">
							<p>
								 <input type="checkbox" id="isHiddenInterestByOneTime" ng-model="formData.isHiddenInterestByOneTime" disabled />
								 <label for="isHiddenInterestByOneTime" >隐藏</label>
							</p>
						</div>								
			        </div>
			                 <div class="row">
				         <div class="col s9">
				           <div class="input-field">
						            偿还日<input  id="repaymentDate" type="text" ng-model="formData.repaymentDate" readOnly>
				            </div>
						</div>
						<div class="col s3">
							<p>
								 <input type="checkbox" id="isHiddenRepaymentDate" ng-model="formData.isHiddenRepaymentDate" disabled />
								 <label for="isHiddenRepaymentDate">隐藏</label>
							</p>
						</div>								
			        </div>
			                 <div class="row">
				         <div class="col s9">
				          <div class="input-field">
						           日期模型<input  id="dateModel" type="text" ng-model="formData.dateModel" readOnly>
				            </div>
						</div>
						<div class="col s3">
							<p>
								 <input type="checkbox" id="isHiddenDateModel" ng-model="formData.isHiddenDateModel" disabled/>
								 <label for="isHiddenDateModel">隐藏</label>
							</p>
						</div>								
			        </div>
			                 <div class="row">
				         <div class="col s9">
				         <div class="input-field">
						          算头算尾情况<input  id="ccalculateFirstAndEnd" type="text" ng-model="formData.ccalculateFirstAndEnd" readOnly>
				            </div>
						</div>
						<div class="col s3">
							<p>
								 <input type="checkbox" id="isHiddenCcalculateFirstAndEnd" ng-model="formData.isHiddenCcalculateFirstAndEnd" disabled />
								 <label for="isHiddenCcalculateFirstAndEnd">隐藏</label>
							</p>
						</div>								
			        </div>
			          <div class="row">
				         <div class="col s9">
				            <div class="input-field">
						          还款日的方式<input  id="intentDateType" type="text" ng-model="formData.intentDateType" readOnly>
				            </div>
						</div>
						<div class="col s3">
							<p>
								 <input type="checkbox" id="isHiddenIntentDateType" ng-model="formData.isHiddenIntentDateType" disabled />
								 <label for="isHiddenIntentDateType">隐藏</label>
							</p>
						</div>								
			        </div>
			                 <div class="row">
				         <div class="col s9">
				          <div class="input-field">
						        {{fundMoneyType[0].text}}<input  id="consultationMoneyWay" type="text" ng-model="formData.consultationMoneyWay" readOnly>
				            </div>
						</div>
						<div class="col s3">
							<p>
								 <input type="checkbox" id="isHiddenConsultationMoneyWay" ng-model="formData.isHiddenConsultationMoneyWay" disabled />
								 <label for="isHiddenConsultationMoneyWay">隐藏</label>
							</p>
						</div>								
			        </div>
			                 <div class="row">
				         <div class="col s9">
				             <div class="input-field">
						        {{fundMoneyType[0].text}}<input  id="serviceMoneyWay" type="text" ng-model="formData.serviceMoneyWay" readOnly>
				            </div>
						</div>
						<div class="col s3">
							<p>
								 <input type="checkbox" id="isHiddenServiceMoneyWay"  ng-model="formData.isHiddenServiceMoneyWay" disabled />
								 <label for="isHiddenServiceMoneyWay">隐藏</label>
							</p>
						</div>								
			        </div>
			                 <div class="row">
				         <div class="col s9">
				          <div class="input-field">
						        {{fundMoneyType[0].text}}<input  id="otherOneFundMoneyWay" type="text" ng-model="formData.otherOneFundMoneyWay" readOnly>
				            </div>
						</div>
						<div class="col s3">
							<p>
								 <input type="checkbox"  id="isHiddenOtherOneFundMoneyWay" ng-model="formData.isHiddenOtherOneFundMoneyWay" disabled />
								 <label for="isHiddenOtherOneFundMoneyWay">隐藏</label>
							</p>
						</div>								
			        </div>
			                 <div class="row">
				         <div class="col s9">
				         <div class="input-field">
						        {{fundMoneyType[0].text}}<input  id="otherTwoFundMoneyWay" type="text" ng-model="formData.otherTwoFundMoneyWay" readOnly>
				            </div>
						</div>
						<div class="col s3">
							<p>
								 <input type="checkbox" id="isHiddenOtherTwoFundMoneyWay" ng-model="formData.isHiddenOtherTwoFundMoneyWay" disabled />
								 <label for="isHiddenOtherTwoFundMoneyWay">隐藏</label>
							</p>
						</div>								
			        </div>
			                 <div class="row">
				         <div class="col s9">
				         <div class="input-field">
						        {{fundMoneyType[0].text}}<input  id="otherTreeFundMoneyWay" type="text" ng-model="formData.otherTreeFundMoneyWay" readOnly>
				            </div>
						</div>
						<div class="col s3">
							<p>
								 <input type="checkbox"  id="isHiddenOtherTreeFundMoneyWay" ng-model="formData.isHiddenOtherTreeFundMoneyWay" disabled/>
								 <label for="isHiddenOtherTreeFundMoneyWay">隐藏</label>
							</p>
						</div>								
			        </div>
	
					<p class="center">
							<button class="btn mr-20 fs-16"  type="submit">预览</button>
				    </p>      
				
			</div>
		</div>
		</form>
					</div>
				</div>
		    </div>
		</div>	 
	</div> 
