<a href="#/web/menu/appmenucust/list/anon">客户菜单配置</a>

<br/>
<br/>
<br/>
<br/>
<br/>
<a href="#/exchange/kline/kline/list/anon">手动修复K线</a>



<br/>
<br/>
<br/>
<br/>
<a href="{{HRY.host}}/{{HRY.modules.exchange}}product/exproduct/detection" target="_blank">修复没开通钱包账户的数据</a>

<br/>
<br/>
<br/>
<br/>
<a href="{{HRY.host}}/{{HRY.modules.exchange}}kline/clearinit" target="_blank">清空交易数据</a>



<br/>
<br/>
<br/>
<br/>
<a href="#/web/quartz/appquartzjob/list/anon" >定时器管理</a>
