<!-- Handle -->
<div class="page-title pt-0 pb-3 ">
	<div class="row">
		<div class="col s12 m9 l7">
			<div class="row">
				<div class="col m3 s12">
					<div class="input-field">
						<input type="text"    ng-model="serchData.customerName_like"  dataTableSerch >
						<label for="input_lname">会员账号(手机号)</label>
					</div>
				</div>
				<div class="col m3 s12">
					<div class="input-field">
						<input type="text"    ng-model="serchData.agentName_like"  dataTableSerch >
						<label for="input_lname">真实姓名</label>
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m3 l5 right-align pt-20">

			<!-- 修改按钮 -->
			<a class="btn pr-10 pl-10" ng-click="fnCheck()"><i class="fa fa-pencil-square-o " aria-hidden="true"></i>审核通过</a>
			<!-- 删除按钮 -->

			<a class="btn pr-10 pl-10"  ng-click="fnStorpSee()"> <i class="fa fa-trash-o " aria-hidden="true"></i>审核失败</a>

			<!-- 刷新按钮 -->
			<a class="btn pr-10 pl-10"  ng-click="fnList()"><i class="fa fa-refresh "></i>刷新</a>
		</div>
	</div>

</div>
<!-- /Handle -->



	<div class="" >

			<div class="row">	
		
			<div class="col s12 "  >
				<table id="table2" class="display table table-bordered table-striped table-hover">
				   <thead>
				    <tr>
				      <th><input type="checkbox" id="checkboxAll" /><label for="checkboxAll"></label></th>
	                  <th>代理地址</th>
	                  <th>手机号</th>
	                  <th>代理人名</th>
	                  <th>紧急联系人</th>
	                  <th>代理码</th>
	                  <th>状态</th>
	                  <th>时间</th>
				    </tr>
				  </thead>
				  <tbody>
				  </tbody>
				</table>
			</div>
		</div>
		
	</div>
	
	
 <div id="lockCustomer" class="hide" >
 
 照片1<img src="{{HRY.host}}/{{appAgentsCustromer.versoIDCard}}" alt="" class="media-object"><br>
 照片2<img src="{{HRY.host}}/{{appAgentsCustromer.frontIDCard}}" alt="" class="media-object"><br>
 照片3<img src="{{HRY.host}}/{{appAgentsCustromer.versolBank}}" alt="" class="media-object"><br>
 照片4<img src="{{HRY.host}}/{{appAgentsCustromer.frontBank}}" alt="" class="media-object"><br>

 <input type="button" ng-click="submitTmie()" value="关闭查看" ></input>
 </div>
	
	
	
	
	
	
	
	
	
	
	