	
	 <!-- Handle -->
    <div class="page-title pt-0 pb-3 ">
      <div class="row">
        <div class="col s12 m9 l5">
         	<div class="row">
				<div class="col m3 s12">
			      <div class="input-field">
			        <input type="text"    ng-model="serchData.name_like"  dataTableSerch >
			        <label for="input_lname">产品名称</label>
			      </div>
			    </div>
				<div class="col m3 s12">
					<div class="input-field">
						<input type="text"  ng-model="serchData.issueState_in" dataTableSerch>
						<label for="input_city">产品状态</label>
				   </div>
			    </div>
			</div>
        </div>
        <div class="col s12 m3 l7 right-align pt-20">
			<!-- 制定认购计划 -->
			<a class="btn pr-10 pl-10" ng-if="requiresPermissions('exchange','/product/exproduct/add')" ng-click="fnAdd('product/exproduct/add')"  ><i class="fa fa-plus-circle " aria-hidden="true"></i>制定认购计划</a>
        </div>
      </div>

    </div>
    <!-- /Handle -->
	

	
	<!-- 分公司管理 -->
	<div >			
			<div class="row">	
		
			<div class="col s12 "  >
				<table id="table2" class="display table table-bordered table-striped table-hover">
				   <thead>
				    <tr>
				      <th><input type="checkbox" id="checkboxAll" /><label for="checkboxAll"></label></th>
	                  <th>币的名称</th>
	                  <th>发行量(个)</th>
	                  <th>发行单价(￥)</th> 
	                  <th >产品状态</th> 
	                  <th >开启/关闭</th> 
	                  <th>代码 </th> 
	                  <th>发行方名称</th>
	                  <th >时间</th> 
				    </tr>
				  </thead>
				  <tbody>
				  </tbody>
				</table>
			</div>
		</div>
		
	</div>
	
<div growl></div>


