	 <!-- Handle -->
    <div class="page-title pt-0 pb-3 ">
      <div class="row">
        <div class="col s12 m9 l7">
       
       	<div class="row">
				<div class="col m3 s12">
			      <div class="input-field">
			        <input type="text"    ng-model="serchData.name_like"  dataTableSerch >
			        <label for="input_lname">友情链接名字</label>
			      </div>
			    </div>
				<div class="col m3 s12">
					<div class="input-field">
						<input type="text"  ng-model="serchData.linkUrl_like" dataTableSerch>
						<label for="input_city">链接地址</label>
				   </div>
			    </div>
			</div>
       
        </div>
       
        <div class="col s12 m3 l5 right-align pt-20">
					
						<!-- 增加按钮 -->
						<a class="btn pr-10 pl-10" ng-click="fnAdd('article/appfriendlink/add')"  ><i class="fa fa-plus-circle " aria-hidden="true"></i>添加</a>
						
						<!-- 修改按钮 -->
						<a class="btn pr-10 pl-10" ng-click="fnModify('article/appfriendlink/modify')"><i class="fa fa-pencil-square-o " aria-hidden="true"></i>修改</a>
						<!-- 删除按钮 -->
						
						<a class="btn pr-10 pl-10"  ng-click="fnRemove('article/appfriendlink/remove')"> <i class="fa fa-trash-o " aria-hidden="true"></i>删除</a>

						<!-- 刷新按钮 -->
						<a class="btn pr-10 pl-10"  ng-click="fnList()"><i class="fa fa-refresh "></i>刷新</a>
        </div>
      </div>

    </div>
    <!-- /Handle -->	
		

	<div >
			<div class="row">	
		
			<div class="col s12 "  >
				<table id="table2" class="display table table-bordered table-striped table-hover">
				   <thead>
				    <tr>
				      <th><input type="checkbox" id="checkboxAll" /><label for="checkboxAll"></label></th>
	                  <th>友情链接名称</th>
	                  <th>友情链接地址</th>
	                  <th>图片地址</th>
	                  <th>是否是图片</th>
	                  <th>状态</th>
	                  <th>创建时间</th>
				    </tr>
				  </thead>
				  <tbody>
				  </tbody>
				</table>
				
			</div>
		</div>
		
	</div>
	



