
 <!-- Copyright:   北京互融时代软件有限公司 -->
 <!-- SysopenuserList.html     -->
 <!-- @author:      shangxl  -->
 <!-- @version:     V1.0             -->
 <!-- @Date:        2017-07-31 10:05:12      -->

<div class="page-title">
	<div class="row">
		<div class="col s12 m6 l7">
			<h4>
				<i class="mdi-action-view-list fs-26"></i> <span class="fs-16 p-5">会员积分配置维护</span>
			</h4>
		</div>
		<div class="col s12 m6 l5 right-align pr-30">
			<div class="row">
				<!--添加按钮 -->
				<a class="btn" ng-if="requiresPermissions('web','/system/appmemberpointconfig/add')" ng-click="fnAdd()">添加</a>
				<!--修改按钮 -->
				<a class="btn" ng-if="requiresPermissions('web','/system/appmemberpointconfig/modify')" ng-click="fnModify()">修改</a>
				<!--删除按钮 -->
				<a class="btn" ng-if="requiresPermissions('web','/system/appmemberpointconfig/remove')" ng-click="fnRemove()">删除</a>
				<!--刷新按钮 -->
				<a class="btn" ng-click="fnList()">刷新</a>
			</div>
		</div>
	</div>
</div>

 <div class="page-title pt-0 pb-3 ">
	 <div class="row">
		 <div class="col s12 m9 l7">
			 <div class="row">
				 <div class="col m3 s12">
					 <div class="input-field">
						 <input type="text" id="content" ng-model="serchData.content_like" dataTableSerch> <label
							 for="content">描述</label>
					 </div>
				 </div>
			 </div>
		 </div>
	 </div>
 </div>

<div>
	<div class="row">
		<div class="col s12 ">
			<table id="dataTable" class="display table table-bordered table-striped table-hover ">
				<thead>
					<tr>
						<th><input type="checkbox" id="checkboxAll" /><label for="checkboxAll"></label></th>
						<th>推荐人积分</th>
						<th>被推荐人积分</th>
						<th>描述</th>
						<th>是否开启</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>

		</div>
	</div>
</div>


