<!DOCTYPE html>
<html>
<body>
	<!-- 分公司管理 -->
	<div class="">

		<!-- Handle -->
		<div class="page-title pt-0 pb-3 ">
			<div class="row">
				<div class="col s12 ">
					<div class="row">
						<div class="col m2 s12">
							<div class="input-field">
								<input type="text" id="input_account" ng-model="serchData.customerName_like" dataTableSerch> <label for="input_account">用户账号</label>
							</div>
						</div>

						<div class="col m2 s12">
							<div class="input-field">
								<input type="text" id="input_trueName" ng-model="serchData.trueName_like" dataTableSerch> <label for="input_trueName">用户真名</label>
							</div>
						</div>


						<div class="col m2 s12">
							<div class="input-field">
								<input type="text" id="input_order" ng-model="serchData.transactionNum_like" dataTableSerch> <label for="input_order">订单号</label>
							</div>
						</div>


						<div class="col m2 s12">
							<div class="input-field">
								<input type="text" id="input_timeG" class="pikaday" name="created_GT" ng-model="serchData.created_GT" dataTableSerch> <label for="input_timeG">申请时间</label>
							</div>
						</div>
						<div class="col m2 s12">
							<div class="input-field">
								<input type="text" id="input_timeL" class="pikaday" name="created_LT" ng-model="serchData.created_LT" dataTableSerch> <label for="input_timeL">申请时间</label>
							</div>
						</div>

						<div class="col m2 s12">
							<div class="input-field">
								<hry-select url="{{HRY.host}}{{HRY.modules.exchange}}/product/exproduct/selectlist" placeholder="币种类型" name="coinCode" value="coinCode" selectId="coinCode" dataTableSerch></hry-select>

							</div>
						</div>


					</div>

				</div>

			</div>
			<div class="row">
				<div class="col s12 ">
					<!-- 导出按钮 -->
					<a class="btn pr-10 pl-10" ng-click="fnExcel()"><i class="fa fa-refresh "></i>导出</a>
				</div>
			</div>
		</div>
		<!-- /Handle -->




		<div class="row">

			<div class="col s12 ">
				<table id="table2" class="display table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th><input type="checkbox" id="checkboxAll" /><label for="checkboxAll"></label></th>
							<th>订单号</th>
							<th>用户账号</th>
							<th>真实姓名</th>
							<th>币种名称</th>
							<th>会员充值钱包地址</th>
							<th>转入数量</th>
							<th>手续费个数</th>
							<th>用户实际到账</th>
							<th>申请时间</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>

			</div>
		</div>
	</div>

</body>
</html>


