<!DOCTYPE html>
<html>
<body>

	<!-- Handle -->
	<div class="page-title pt-0 pb-3 ">
		<div class="row">
			<div class="col s10">
				<div class="row">



					<div class="col s6">
						<div class="row">
							<div class="col s3">
								<div class="input-field">
									<input type="text" ng-model="serchData.customerName_like" id="input_customerName" dataTableSerch> <label for="input_customerName">用户账号</label>
								</div>
							</div>

							<div class="col s3">
								<div class="input-field">
									<input type="text" ng-model="serchData.trueName_like" id="input_trueName" dataTableSerch> <label for="input_trueName">用户真名</label>
								</div>
							</div>


							<div class="col s3">
								<div class="input-field">
									<input type="text" ng-model="serchData.transactionNum_like" id="input_num" dataTableSerch> <label for="input_num">交易订单号</label>
								</div>
							</div>


							<div class="col s3">
								<div class="input-field">
									<input type="text" ng-model="serchData.ourAddress_like" id="input_ourAddress" dataTableSerch> <label for="input_ourAddress">提币钱包地址</label>
								</div>
							</div>
						</div>
					</div>


					<div class="col s6">
						<div class="row">

							<div class="col s4">
								<div class="input-field">
									<input class="pikaday" type="text" readonly ng-model="serchData.created_GT" dataTableSerch> <label for="input_text">开始时间-起</label>
								</div>
							</div>
							<div class="col s4">
								<div class="input-field">
									<input class="pikaday" type="text" readonly ng-model="serchData.created_LT" dataTableSerch> <label for="input_text">结束时间-止</label>
								</div>
							</div>

							<div class="col s4">
								<div class="input-field">
									<hry-select url="{{HRY.host}}{{HRY.modules.exchange}}/product/exproduct/selectlist" placeholder="币种类型" name="coinCode" value="coinCode" selectId="coinCode_EQ" dataTableSerch></hry-select>
								</div>
							</div>
						</div>
					</div>






				</div>
			</div>
			<div class="col s2 right-align pt-20">

				<!-- 查看按钮 -->
				<a class="btn pr-10 pl-10"  ng-click="fnPost()"> <i class="fa fa-plus-circle " aria-hidden="true"></i>通过
				</a>
				<!-- 修改按钮 -->
				<a class="btn pr-10 pl-10" ng-click="fnStop()"> <i class="fa fa-pencil-square-o " aria-hidden="true"></i>驳回
				</a>

				<!-- 刷新按钮 -->
				<a class="btn pr-10 pl-10" ng-click="fnList()"><i class="fa fa-refresh "></i>刷新</a>

				<!-- 导出按钮 -->
				<a class="btn pr-10 pl-10" ng-click="fnExcel()"><i class="fa fa-refresh "></i>导出</a>

			</div>
		</div>

	</div>
	<!-- /Handle -->


	<div>
		<div class="row">
			<div class="col s12 ">
				<table id="table2" class="display table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th><input type="checkbox" id="checkboxAll" /><label for="checkboxAll"></label></th>
							<th>用户账号</th>
							<th>真实姓名</th>
							<th>币种名称</th>
							<th>提币钱包地址</th>
							<th>操作时间</th>
							<th>提币数量</th>
							<th>手续费</th>
							<th>交易订单号</th>

						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>

			</div>
		</div>
	</div>

</body>
</html>


