<!-- 创建管理员-->
	<div class="card-panel" >
		<h4>
			<i class="mdi-action-view-list fs-26"></i>
       		<span class="fs-16 p-5">创建管理员</span>
		 </h4>
		 <hr>
		<div class="row">
			<!-- 提示信息 -->
			<div class="col s12">
				<div class="alert alert-dismissible orange lighten-4 black-text text-darken-2">
					<i class="mdi-av-volume-up fs-20"></i>
					  温馨提示：此账号为分公司内管理员，用于管理分公司内所授权菜单。			  
				</div>
			</div>
			<!-- /提示信息 -->
			<div class="col s12">
				<form id="seeForm" ng-submit="processForm()">
					<div class="input-field">
				        <input id="input_fname" type="text" ng-model="formData.username" required  >
				        <label for="input_fname">*管理员账号</label>
				     </div>
				     <div class="input-field">
				        <input id="input_fname" type="text" ng-model="formData.name" required>
				        <label for="input_fname">*员工姓名</label>
				      </div>
				      <div class="input-field">
				        <input id="input_fname" type="password" ng-model="formData.password" required>
				        <label for="input_fname">*密码</label>
				      </div>
				      <div class="input-field">
				        <input id="input_fname" type="password" ng-model="formData.repassword" required>
				        <label for="input_fname">*确认密码</label>
				      </div>
				      <div class="input-field">
				        <input id="input_fname" type="text" ng-model="formData.email" >
				        <label for="input_fname">电子邮箱</label>
				      </div>
					
				    <p class="center">
					    <!-- 保存按钮 -->
							<button class="btn-large mr-20 fs-16" type="submit" >下一步</button>
						<!-- 返回按钮 -->
							<a class="btn-large grey fs-16" ng-click="" >返回</a>
				    </p>
			</form>
		</div>
		
		
	</div>
	
	
<!-- /创建管理员--> 