<!-- With Search -->
	<div class="card-panel">
		<h4>查看</h4>
		<div class="row">
			<div class="col s1 "></div>
			<div class="col s4 ">
			
			
				  比特币的钱包配置信息
			       ip <input type="text" name="btc_ip"   value="{{configData.btc_ip}}"  ng-model ="configData.btc_ip" readonly="readonly" />
				端口号<input type="text" name="btc_port"  value="{{configData.btc_port}}" ng-model ="configData.btc_port"  readonly="readonly" />
				用户名<input type="text" name="btc_rpcuser"  value="{{configData.btc_rpcuser}}" ng-model ="configData.btc_rpcuser" readonly="readonly" />
			      莱特币的钱包配置信息
			     ip<input type="text" name="ltc_ip"   value="{{configData.ltc_ip}}"  ng-model ="configData.ltc_ip" readonly="readonly" />
					端口号<input type="text" name="ltc_port"  value="{{configData.ltc_port}}" ng-model ="configData.ltc_port"  readonly="readonly" />
					用户名<input type="text" name="ltc_rpcuser"  value="{{configData.ltc_rpcuser}}" ng-model ="configData.ltc_rpcuser" readonly="readonly" />
		
			
			</div>
		
		
		</div>
	</div>
	<!-- /With Search --> 