
 <!-- Copyright:   北京互融时代软件有限公司 -->
 <!-- AppcustomercollectionList.html     -->
 <!-- @author:      liushilei  -->
 <!-- @version:     V1.0             -->
 <!-- @Date:        2018-01-19 10:07:55      -->

<div class="card-panel">
	<h4>
		<i class="mdi-action-view-list fs-26"></i> <span class="fs-16 p-5">查看AppCustomerCollection</span>
		<!-- 返回按钮 -->
		<a class="btn fs-16 right" href="#/customer/user/appcustomercollection/list/anon">返回</a>
	</h4>
	<hr>
	<form ng-submit="processForm()">
		<div class="row">
			<div class="col s12 m6">
				<div class="input-field">
					coincode<input type="text" name="coincode" value="{{formData.coincode}}" readonly />
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					customerId<input type="text" name="customerId" value="{{formData.customerId}}" readonly />
				</div>
			</div>
			
		</div>
	</form>
</div>


