
 <!-- Copyright:   北京互融时代软件有限公司 -->
 <!-- AppicoprojectsuportList.html     -->
 <!-- @author:      shangxl  -->
 <!-- @version:     V1.0             -->
 <!-- @Date:        2017-07-26 18:09:22      -->

<div class="card-panel">
	<h4>
		<i class="mdi-action-view-list fs-26"></i> <span class="fs-16 p-5">查看AppIcoProjectSuport</span>
		<!-- 返回按钮 -->
		<a class="btn fs-16 right" href="#/ico/project/appicoprojectsuport/list/anon">返回</a>
	</h4>
	<hr>
	<form ng-submit="processForm()">
		<div class="row">
			<div class="col s12 m6">
				<div class="input-field">
					website<input type="text" name="website" value="{{formData.website}}" readonly />
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					用户id<input type="text" name="customerId" value="{{formData.customerId}}" readonly />
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					用户名<input type="text" name="userName" value="{{formData.userName}}" readonly />
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					支持币种  cny人民币<input type="text" name="coinType" value="{{formData.coinType}}" readonly />
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					支持币个数<input type="text" name="money" value="{{formData.money}}" readonly />
				</div>
			</div>
			
		</div>
	</form>
</div>


