<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://code.alibabatech.com/schema/dubbo  
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd  
        ">
  <!-- remoteAppAccountService -->
  <dubbo:reference id="remoteAppAccountService"
    interface="com.mz.account.remote.RemoteAppAccountService" check="false"></dubbo:reference>
  <!-- remoteAppBankCardService -->
  <dubbo:reference id="remoteAppBankCardService"
    interface="com.mz.account.remote.RemoteAppBankCardService" check="false"></dubbo:reference>
  <!-- remoteAppTransactionService -->
  <dubbo:reference id="remoteAppTransactionService"
    interface="com.mz.account.remote.RemoteAppTransactionService" check="false"></dubbo:reference>
  <!-- remoteAppColdAccountRecordService -->
  <dubbo:reference id="remoteAppColdAccountRecordService"
    interface="com.mz.account.remote.RemoteAppColdAccountRecordService"
    check="false"></dubbo:reference>
  <!-- remoteAppHotAccountRecordService -->
  <dubbo:reference id="remoteAppHotAccountRecordService"
    interface="com.mz.account.remote.RemoteAppHotAccountRecordService"
    check="false"></dubbo:reference>

  <!-- remoteAppOurAccountService -->
  <dubbo:reference id="remoteAppOurAccountService"
    interface="com.mz.account.remote.RemoteAppOurAccountService" check="false"></dubbo:reference>
  <!-- RemoteTopAndDepositParameterService -->
  <dubbo:reference id="remoteTopAndDepositParameterService"
    interface="com.mz.account.remote.RemoteTopAndDepositParameterService"
    check="false"></dubbo:reference>
  <dubbo:reference id="remoteAppAccountSureoldService"
    interface="com.mz.account.remote.RemoteAppAccountSureoldService"
    check="false"></dubbo:reference>
</beans> 