
 <!-- Copyright:   北京互融时代软件有限公司 -->
 <!-- AppicocointransactionList.html     -->
 <!-- @author:      shangxl  -->
 <!-- @version:     V1.0             -->
 <!-- @Date:        2017-08-18 14:08:35      -->

<div class="card-panel">
	<h4>
		<i class="mdi-action-view-list fs-26"></i> <span class="fs-16 p-5">查看AppIcoCoinTransaction</span>
		<!-- 返回按钮 -->
		<a class="btn fs-16 right" href="#/ico/coinTransaction/appicocointransaction/list/anon">返回</a>
	</h4>
	<hr>
	<form ng-submit="processForm()">
		<div class="row">
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="transactionNum" ng-model="formData.transactionNum" /> <label for="transactionNum">transactionNum</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="customerId" ng-model="formData.customerId" /> <label for="customerId">用户id</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="customerName" ng-model="formData.customerName" /> <label for="customerName">用户名</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="accountId" ng-model="formData.accountId" /> <label for="accountId">数字货币账户id</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="transactionType" ng-model="formData.transactionType" /> <label for="transactionType">交易类型(1充币 ，2提币)</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="transactionMoney" ng-model="formData.transactionMoney" /> <label for="transactionMoney">交易金额</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="status" ng-model="formData.status" /> <label for="status">1待审核 2已完成 3以否决</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="userId" ng-model="formData.userId" /> <label for="userId">操作人id</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="currencyType" ng-model="formData.currencyType" /> <label for="currencyType">currencyType</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="coinCode" ng-model="formData.coinCode" /> <label for="coinCode">币种（CNY）</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="website" ng-model="formData.website" /> <label for="website">website</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="fee" ng-model="formData.fee" /> <label for="fee">fee</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="inAddress" ng-model="formData.inAddress" /> <label for="inAddress">inAddress</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="outAddress" ng-model="formData.outAddress" /> <label for="outAddress">outAddress</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="time" ng-model="formData.time" /> <label for="time">time</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="confirmations" ng-model="formData.confirmations" /> <label for="confirmations">confirmations</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="timereceived" ng-model="formData.timereceived" /> <label for="timereceived">timereceived</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="blocktime" ng-model="formData.blocktime" /> <label for="blocktime">blocktime</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="rejectionReason" ng-model="formData.rejectionReason" /> <label for="rejectionReason">rejectionReason</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="ourAccountNumber" ng-model="formData.ourAccountNumber" /> <label for="ourAccountNumber">ourAccountNumber</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="orderNo" ng-model="formData.orderNo" /> <label for="orderNo">orderNo</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="trueName" ng-model="formData.trueName" /> <label for="trueName">trueName</label>
				</div>
			</div>
			
		</div>
		
		<div class="row">
			<p class="center mb-20">
				<!-- 保存按钮 -->
				<button class="btn" type="submit" >保存</button>
			</p>
		</div>
	</form>
</div>


