	<div class="row">
	<div class="col s12 m4 l2" ng-include="'static/views/factoring/custeloan/CusteloanColumn.html'"></div>
	<div class="col s12 m8 l10" >
        <div class="card-panel">
	         <div class="col s12">
	         	<i class="mdi-action-view-list fs-26"></i>
	         	<span class="fs-16 p-5">基本信息</span>
	         	<button class="waves-effect btn" type="submit">保存</button>
			     <a href back-button class="btn" >返回</a>
			 </div>
	        <div class="col s12 m5">
	        	<div class="input-field">
				  <input  type="text" class="validate"    ng-model="formData.name" disabled="disabled">
				  <label for="" class="active">企业名称</label>
				</div>
	        </div>
	        <div class="col s12 m2"></div>
	        <div class="col s12 m5">
	        	<div class="input-field">
				  <input  type="text" class="validate"   ng-model="formData.shorName" disabled="disabled">
				  <label for="input_email" class="active">企业简称</label>
				</div>
	        </div>
	        <div class="col s12 m5">
	        	<div class="input-field">
				  <input  type="text" class="validate"   ng-model="formData.cciaa" disabled="disabled">
				  <label for="input_email" class="active">营业执照号码</label>
				</div>
	        </div>
	        <div class="col s12 m2"></div>
	        <div class="col s12 m5">
	        	<div class="input-field">
				  <input  type="text" class="validate"   ng-model="formData.organizeCode" disabled="disabled">
				  <label for="input_email" class="active">组织机构代码</label>
				</div>
	        </div>
	        <div class="col s12 m5">
	        	<div class="input-field">
				  <input  type="text" class="validate"  ng-model="formData.taxRegistration" disabled="disabled">
				  <label for="input_email" class="active">税务登记证</label>
				</div>
	        </div>
	        <div class="col s12 m2"></div>
	        <div class="col s12 m5">
			    <div class="input-field">
				  <input  type="text" class="validate"   ng-model="formData.linkmanTelphone" disabled="disabled">
				  <label for="input_email" class="active">联系电话</label>
				</div>  	
	        </div>
	        <div class="col s12 m5">
			    <div class="input-field">
				  <input  type="text" class="validate"  ng-model="formData.capitalKind" disabled="disabled">
				  <label for="input_email" class="active">注册资金币种</label>
				</div>  	
	        </div>
	        <div class="col s12 m2"></div>
	        <div class="col s12 m5">
			    <div class="input-field">
				  <input  type="text" class="validate"  ng-model="formData.registerMoney" disabled="disabled">
				  <label for="input_email" class="active">工商注册资金</label>
				</div>  	
	        </div>
	        <div class="col s12 m5">
			    <div class="input-field">
				  <input  type="text" class="validate"   ng-model="formData.establishDate | limitTo:10"  disabled="disabled">
				  <label for="input_email" class="active">企业成立日期</label>
				</div>  	
	        </div>
	        <div class="col s12 m2"></div>
	        <div class="col s12 m5">
			    <div class="input-field">
				  <input  type="text" class="validate"   ng-model="formData.employeeTotal" disabled="disabled">
				  <label for="input_email" class="active">职工人数</label>
				</div>  	
	        </div>
	        <div class="col s12 m5">
			    <div class="input-field">
				  <input  type="text" class="validate"   ng-model="formData.linkmanName" disabled="disabled">
				  <label for="input_email" class="active">联系人</label>
				</div>  	
	        </div>
	        <div class="col s12 m2"></div>
	        <div class="col s12 m5">
			    <div class="input-field">
				  <input  type="text" class="validate"   ng-model="formData.tradeType" disabled="disabled">
				  <label for="input_email" class="active">行业类别</label>
				</div>  	
	        </div>
	         <div class="col s12 m5">
			    <div class="input-field">
				  <input  type="text" class="validate" ng-model="formData.shopName" disabled="disabled">
				  <label for="input_email" class="active">所属门店</label>
				</div>  	
	        </div>
        </div>
    </div>
</div>
</div>