	<div class="card-panel">
			<!-- Mail Sidebar -->
			<ul class="mail-sidebar">
	            <li class="active">
	              <a href="#">基本信息</a>
	            </li>
	            <li>
	              <a href="#">法人信息</a>
	            </li>
	            <li>
	              <a href="#">股东信息</a>
	            </li>
				<li>
	              <a href="#">实际控制人信息</a>
	            </li>
	            <li>
	              <a href="#">银行卡信息</a>
	            </li>
	            <li>
	              <a href="#">资信评级信息</a>
	            </li>
			    <li>
	              <hr>
	            </li>
	            <li>
	              <a href="#">企业联系人信息 </a>
	            </li>
	            <li>
	              <a href="#">管理团队 </a>
	            </li>
	            <li>
	              <a href="#">员工结构 </a>
	            </li>
	            <li>
	              <a href="#">债务情况</a>
	            </li>
	            <li>
	              <a href="#">债券情况</a>
	            </li>
	            <li>
	              <a href="#"> 对外担保 </a>
	            </li>
	            <li>
	              <a href="#">对外投资</a>
	            </li>
	            <li>
	              <a href="#"> 业务往来</a>
	            </li>
	            <li>
	              <a href="#"> 财务信息</a>
	            </li>
	            <li>
	              <a href="#"> 企业现金流量及销售收入</a>
	            </li>
			</ul>
          <!-- /Mail Sidebar -->
		</div>
