


<!-- Handle -->
<div class="page-title pt-0 pb-3 ">
	<div class="row">
		<div class="col s12 m9 l10">
			<div class="row">

				<div class="col  s2">
					<div class="input-field">
						<input type="text" ng-model="serchData.entrustNum_like" dataTableSerch> <label for="input_city">委托单号</label>
					</div>
				</div>
				<div class="col  s2">
					<div class="input-field">
						<input type="text" ng-model="serchData.userName_like" dataTableSerch> <label for="input_city">委托人</label>
					</div>
				</div>

				<div class="col  s2">
					<div class="input-field">
						<label for="input_city"></label>
						<hry-select url="{{HRY.host}}{{HRY.modules.exchange}}product/exproduct/selectlist" placeholder="币种" name="name" value="coinCode" selectId="coinCode" dataTableSerch></hry-select>
					</div>
				</div>
				<div class="col  s2">
					<div class="input-field">
						<label for="input_city"></label>
						<hry-select url="{{HRY.host}}{{HRY.modules.exchange}}account/exdigitalmoneyaccount/selectlistCurrenyType" placeholder="账户类型" name="currenyTypekey" value="currenyTypevalue" selectId="currencyType" dataTableSerch></hry-select>
					</div>
				</div>
				<div class="col 2 s2">
					<div class="input-field">
						<input class="pikaday" type="text" ng-model="serchData.lentrustTime" dataTableSerch> <label for="input_city">开始委托时间</label>
					</div>
				</div>

				<div class="col  s2">
					<div class="input-field">
						<input class="pikaday" type="text" ng-model="serchData.gentrustTime" dataTableSerch> <label for="input_city">截至委托时间</label>
					</div>
				</div>

				<div class="col  s2">
					<div class="input-field">
						<select class="select2" data-allow-clear="true" data-placeholder="出价类型" name="entrustWay_EQ" dataTableSerch>
							<option value="">不限</option>
							<option value="1">限价</option>
							<option value="2">市价</option>
						</select>
					</div>
				</div>
				<div class="col  s2">
					<div class="input-field">
						<select class="select2" data-allow-clear="true" data-placeholder="委托类型" name="type_EQ" dataTableSerch>
							<option value="">不限</option>
							<option value="1">买入</option>
							<option value="2">卖出</option>
						</select>
					</div>
				</div>
				<div class="col  s2">
					<div class="input-field">
						<select class="select2" data-placeholder="状态" data-allow-clear="true" name="status_IN" dataTableSerch>
							<option value="">不限</option>
							<option value="0">全部待成交</option>
							<option value="1">部分待成交</option>
							<option value="2">已全部成交</option>
							<option value="3">部分撤销</option>
							<option value="4">全部撤销</option>
						</select>
					</div>
				</div>
			</div>



		</div>
		<div class="col s12 m3 l2 right-align pt-20">


			<!-- 刷新按钮 -->
			<a class="btn pr-10 pl-10" ng-click="fnList()"><i class="fa fa-refresh "></i>刷新</a> 
			<!-- 重置按钮 -->
			<a class="btn pr-10 pl-10" ng-click="reset()"><i class="fa fa-refresh "></i>重置</a>
			<!-- 导出按钮 -->
			<a class="btn pr-10 pl-10" ng-click="fnExcel()"><i class="fa fa-refresh "></i>导出</a>

		</div>
	</div>

</div>
<!-- /Handle -->

<!-- 分公司管理 -->
<div>

	<div class="row">

		<div class="col s12 ">
			<table id="table2" class="display table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th><input type="checkbox" id="checkboxAll" /><label for="checkboxAll"></label></th>



						<th>委托用户</th>
						<th>委托名字</th>
						<th>币的代码</th>
						<th>账户类型</th>
						<th>委托类型</th>
						<th>委托时间</th>
						<th>委托价格</th>
						<th>委托数量</th>
						<th>剩余委托数量</th>
						<th>委托单号</th>
						<th>状态</th>
						<th>交易明细</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>

		</div>
	</div>

</div>

<div class="col s4 hide" id="matchDetailDiv">

	<!-- begin row -->

	<div class="row">
		<!-- begin col-3 -->
		<div class="col-sm-12">
			<div class="table-responsive fund-dtable">
				<table class="table">
					<thead>
						<tr class="active">
							<th>成交时间</th>
							<th>成交数量(个)</th>
							<th>成交价格({{currencyType}})</th>
							<th>成交额({{currencyType}})</th>

						</tr>
					</thead>
					<tbody>
						<!--begin 循环记录-->
						<tr ng-repeat="item in list1">
							<td>{{item.transactionTime}}</td>
							<td>{{item.transactionCount.toFixed(4)}}</td>
							<td>{{item.transactionPrice.toFixed(2)}}</td>
							<td>{{item.transactionSum.toFixed(2)}}</td>

						</tr>
						<!--end 循环记录-->
						<!--begin 没有记录的时候-->
						<tr ng-if="list1==null">
							<td colspan="5" class="no-recode text-center"><i class="fa fa-info-circle"></i>暂无记录</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
		<!-- end col-3 -->
	</div>
	<!-- end row -->
</div>


