<!-- Handle -->
<div class="page-title pt-0 pb-3 ">
	<div class="row">
	<hry-search/>
		<div class="col s12 m9 l10 " >
			<div class="row">
			
					<div class="col  s2">
						<div class="input-field">
							<input type="text" ng-model="serchData.entrustNum_like"
								dataTableSerch> <label for="input_city">委托单号</label>
						</div>
					</div>
					<div class="col  s2">
						<div class="input-field">
							<label for="input_city"></label>
							<hry-select
								url="{{HRY.host}}{{HRY.modules.exchange}}product/exproduct/selectlist"
								placeholder="交易币种" name="coinCode" value="coinCode"
								selectId="coinCode" dataTableSerch></hry-select>
						</div>
					</div>
					<div class="col  s2">
							<div class="input-field">
							<label for="input_city"></label>
							<hry-select
								url="{{HRY.host}}{{HRY.modules.exchange}}product/excointocoin/selectlistFixPriceCoinCode"
								placeholder="定价币种" name="fixPriceCoinCode"
								value="fixPriceCoinCode" selectId="fixPriceCoinCode" dataTableSerch></hry-select>
						</div>
					</div>
					
              
              <div class="col  s4" style="position:relative">
				
			<!-- 筛选 -->
			<div class="valign-wrapper   w-70 h-70 br-5 left ">
			<a href="javascript:;" style="color:#B8B8B8" ng-click="searchClick();"><i class="fa fa-sort-desc right"></i>更多筛选</a>
			</div>
			<div class="search-pannel z-depth-2">
			<div><h5 class="right-align"><a href="javascript:;" title="关闭" ng-click="close()"><i class="fa fa-times"></i></a></h5></div>
			
  <div class="row">
                          <div class="col  s6">
						<div class="input-field">
							<input type="text" ng-model="serchData.userName_like"
								dataTableSerch> <label for="input_city">委托人</label>
						</div>
					</div>
						      <div class="col s6">
					<div class="input-field">
						 <input  type="text" ng-model="serchData.trueName_like"  dataTableSerch>
						<label for="input_city">真实姓名</label>
				   </div>
			    </div>
			      </div>
				<div class="row">
					<div class="col  s6">
						<div class="input-field input-append date datetimepicker">
							<input class="form_datetime add-on" type="text"
								ng-model="serchData.lentrustTime" dataTableSerch name="lentrustTime"> <label
								for="input_city">开始委托时间</label>
						</div>
					</div>

					<div class="col  s6">
						<div class="input-field input-append date datetimepicker">
							<input class="form_datetime add-on" type="text"
								ng-model="serchData.gentrustTime" dataTableSerch name="gentrustTime"> <label
								for="input_city">截至委托时间</label>
						</div>
					</div>

				</div>
				<div class="row">
					<div class="col  s6">
						<div class="input-field">
							<select class="select2" data-allow-clear="true"
								data-placeholder="出价类型" name="entrustWay_EQ" dataTableSerch>
								<option value="">不限</option>
								<option value="1">限价</option>
								<option value="2">市价</option>
							</select>
						</div>
					</div>
					<div class="col  s6">
						<div class="input-field">
							<select class="select2" data-allow-clear="true"
								data-placeholder="委托类型" name="type_EQ" dataTableSerch>
								<option value="">不限</option>
								<option value="1">买入</option>
								<option value="2">卖出</option>
							</select>
						</div>
					</div>
					</div>
				<div class="row">
					<div class="col  s12">
						<div class="input-field">
							<select class="select2" data-allow-clear="true"
								data-placeholder="来源" name="source_EQ" dataTableSerch>
								<option value="">不限</option>
								<option value="1">人工</option>
								<option value="2">机器人</option>

							</select>
						</div>
					</div>
				</div>
  <div class="row">
			    	<div class="col  s3">
						<div class="input-field">
						 <input class="text" type="text" ng-model="serchData.transactionSum_GT"  dataTableSerch>
							<label for="input_city">成交金额大于</label>
					   </div>
				    </div>
				    <div class="col  s3">
						<div class="input-field">
							 <input class="text" type="text" ng-model="serchData.transactionSum_LT"  dataTableSerch>
							<label for="input_city">成交金额小于</label>
					   </div>
				    </div>
					<div class="col  s3">
						<div class="input-field">
						 <input class="text" type="text" ng-model="serchData.processedPrice_GT"  dataTableSerch>
							<label for="input_city">成交均价大于</label>
					   </div>
				    </div>
				    <div class="col  s3">
						<div class="input-field">
							 <input class="text" type="text" ng-model="serchData.processedPrice_LT"  dataTableSerch>
							<label for="input_city">成交均价小于</label>
					   </div>
				    </div>
				</div>

			</div>
			<!-- 筛选 end -->
            </div>
            </div>
		</div>
		<div class="col s12 m3 l2 right-align pt-10">


			<!-- 刷新按钮 -->
			<a class="btn mt-10  pr-10 pl-10 " ng-click="fnList()"><i
				class="fa fa-refresh "></i>刷新</a> <a class="btn mt-10 pr-10 pl-10"
				ng-click="reset()"><i class="fa fa-refresh "></i>重置</a>
				
				<!-- 导出按钮 -->
			<a class="btn mt-10  pr-10 pl-10 " ng-click="fnExcel()"><i class="fa fa-refresh "></i>导出</a>

		</div>
	</div>
	<div class="col s12" style="padding:0">
	</div>
</div>
<!-- /Handle -->
<!-- 分公司管理 -->
	<div  >
		
			<div class="row">	
			<div class="col s12 "  >
				<table id="tablelistpart" class="display table table-bordered table-striped table-hover">
				   <thead>
				    <tr>
	          
	                   <th><input type="checkbox" id="checkboxAll" /><label for="checkboxAll"></label></th>
	          
	                 
	                
	                  <th>委托人</th>
	                   <th>姓氏</th>
	                   <th>名字</th>
	                  <th>委托时间</th> 
	                     <th>交易币种</th> 
	                  <th>定价币种</th>
	                  <th>委托类型</th> 
	                  <th>出价类型</th> 
	                  <th>委托价格 </th> 
	                  <th>委托数量</th> 
	                  <th>委托总金额</th>  
	                  <th>成交数量</th>
	                   
	                  <th>成交均价</th> 
	                     <th>成交金额</th> 
	                  <th>委托单号</th>
	                  <th>状态</th> 
	                   <th>来源</th> 
	                  <th>交易明细</th> 
	                  <th>客户IP</th>
				    </tr>
				  </thead>
				  <tbody>
				  </tbody>
				</table>
				
			</div>
		</div>
		
	</div>
	
<div class="col s4 hide" id="matchDetailDiv">
			
				<!-- begin row -->
				
				<div class="row">
					<!-- begin col-3 -->
					<div class="col-sm-12">
						<div class="table-responsive fund-dtable">
							<table class="table">
								<thead>
								<tr class="active">
									<th>成交时间</th>
								 	<th>成交数量</th>
								 	<th>成交价格</th>
								 	<th>成交额</th>
									
								</tr>
								</thead>
								<tbody>
								<!--begin 循环记录-->
								<tr ng-repeat= "item in list1">
									<td>{{item.transactionTime}}</td>
										<td>{{item.transactionCount.toFixed(4)}}</td>
								 	<td>{{item.transactionPrice.toFixed(3)}}</td>
								 	<td>{{item.transactionSum.toFixed(3)}}</td>
								 	
								</tr>
								<!--end 循环记录-->
								<!--begin 没有记录的时候-->
								<tr ng-if="list1==null">
									<td  colspan="5" class="no-recode text-center" >
										<i class="fa fa-info-circle"></i>暂无记录
									</td>
								</tr>
								</tbody>
							</table>
						</div>
						
					</div>
					<!-- end col-3 -->
				</div>
				<!-- end row -->
		</div>


