<!-- 分公司管理 -->

	
			
		<!-- Handle -->
    <div class="page-title pt-0 pb-3 ">
    <hry-search/>
      <div class="row">
        <div class="col s12 m9 l10">
			<div class="row">
				<div class="col m2 s12">
			      <div class="input-field">
			        <label for="input_city"></label>
			        	<hry-select    url="{{HRY.host}}{{HRY.modules.exchange}}product/exproduct/selectlist" 	placeholder="交易币种" name="coinCode" value="coinCode" selectId="coinCode_EQ" dataTableSerch></hry-select>
			      </div>
			    </div>
			      <div class="col m2 s12">
					<div class="input-field">
						 <input  type="text" ng-model="serchData.orderNum_like"  dataTableSerch>
						<label for="input_city">成交单号</label>
				   </div>
			    </div>
		        <!-- <div class="col m2 s12">
						<div class="input-field">
							<select class="select2" data-allow-clear="true"
								data-placeholder="委托类型" name="type_EQ" dataTableSerch>
								<option value="">不限</option>
								<option value="1">买入</option>
								<option value="2">卖出</option>
							</select>
						</div>
					</div> -->
			    	<div class="col  s2">
							<div class="input-field">
							<label for="input_city"></label>
							<hry-select
								url="{{HRY.host}}{{HRY.modules.exchange}}product/excointocoin/selectlistFixPriceCoinCode"
								placeholder="定价币种" name="fixPriceCoinCode"
								value="fixPriceCoinCode" selectId="fixPriceCoinCode" dataTableSerch></hry-select>
						</div>
					</div>		
				
			       <div class="col  s4" style="position:relative">
				
			<!-- 筛选 -->
			<div class="valign-wrapper   w-70 h-70 br-5 left ">
			<a href="javascript:;" style="color:#B8B8B8" ng-click="searchClick();"><i class="fa fa-sort-desc right"></i>更多筛选</a>
			</div>
			<div class="search-pannel z-depth-2">
			<div><h5 class="right-align"><a href="javascript:;" title="关闭" ng-click="close()"><i class="fa fa-times"></i></a></h5></div>
			

				<div class="row">
			    	     <div class="col  s6">
					<div class="input-field">
						 <input  type="text" ng-model="serchData.buyEntrustNum_like"  dataTableSerch>
						<label for="input_city">买家委托单号</label>
				   </div>
			    </div>
			      <div class="col  s6">
					<div class="input-field">
						 <input  type="text" ng-model="serchData.buyUserName_like"  dataTableSerch>
						<label for="input_city">买委托人</label>
				   </div>
			    </div>
			      </div>
			  	
				<div class="row">
				  <div class="col  s6">
					<div class="input-field">
						 <input  type="text" ng-model="serchData.sellEntrustNum_like"  dataTableSerch>
						<label for="input_city">卖家委托单号</label>
				   </div>
			    </div>
			             <div class="col  s6">
					<div class="input-field">
						 <input  type="text" ng-model="serchData.sellUserName_like"  dataTableSerch>
						<label for="input_city">卖委托人</label>
				   </div>
			    </div>
			     </div>
			     <div class="row">   
			       <div class="col  s6">
					<div class="input-field">
						 <input  type="text" ng-model="serchData.buyTrueName_like"  dataTableSerch>
						<label for="input_city">买委托人姓名</label>
				   </div>
			    </div>
			    
			         <div class="col  s6">
					<div class="input-field">
						 <input  type="text" ng-model="serchData.sellTrueName_like"  dataTableSerch>
						<label for="input_city">卖委托姓名</label>
				   </div>
			    </div>
		
				

				</div>
			    <div class="row">
			    	<div class="col  s3">
						<div class="input-field">
						 <input class="text" type="text" ng-model="serchData.transactionPrice_GT"  dataTableSerch>
							<label for="input_city">成交价格大于</label>
					   </div>
				    </div>
				    <div class="col  s3">
						<div class="input-field">
							 <input class="text" type="text" ng-model="serchData.transactionPrice_LT"  dataTableSerch>
							<label for="input_city">成交价格小于</label>
					   </div>
				    </div>
					<div class="col  s3">
						<div class="input-field">
						 <input class="text" type="text" ng-model="serchData.transactionCount_GT"  dataTableSerch>
							<label for="input_city">成交数量大于</label>
					   </div>
				    </div>
				    <div class="col  s3">
						<div class="input-field">
							 <input class="text" type="text" ng-model="serchData.transactionCount_LT"  dataTableSerch>
							<label for="input_city">成交数量小于</label>
					   </div>
				    </div>
				</div>
				
            <div class="row">
			    	<div class="col  s3">
						<div class="input-field">
						 <input class="text" type="text" ng-model="serchData.transactionSum_GT"  dataTableSerch>
							<label for="input_city">成交金额大于</label>
					   </div>
				    </div>
				    <div class="col  s3">
						<div class="input-field">
							 <input class="text" type="text" ng-model="serchData.transactionSum_LT"  dataTableSerch>
							<label for="input_city">成交金额小于</label>
					   </div>
				    </div>
					<div class="col  s3">
						<div class="input-field">
						 <input class="pikaday" type="text" ng-model="serchData.transactionTime_GT"  dataTableSerch>
							<label for="input_city">成交时间大于</label>
					   </div>
				    </div>
				    <div class="col  s3">
						<div class="input-field">
							 <input class="pikaday" type="text" ng-model="serchData.transactionTime_LT"  dataTableSerch>
							<label for="input_city">成交时间小于</label>
					   </div>
				    </div>
				</div>
				
				<div class="col  s6">
					<div class="input-field">
						<select class="select2" data-allow-clear="true" data-placeholder="来源" name="source_EQ" dataTableSerch>
							<option value="">不限</option>
							<option value="1">人工</option>
							<option value="2">机器人</option>

						</select>
					</div>
				</div>
			</div>
			<!-- 筛选 end -->
            </div>
			     <!-
	 -->
			    
			</div>
			
		   

        </div>
        <div class="col s12 m3 l2 right-align pt-20">
					
						
						<!-- 刷新按钮 -->
						<a class="btn pr-10 pl-10"  ng-click="fnList()"><i class="fa fa-refresh "></i>刷新</a>
						<a class="btn pr-10 pl-10"  ng-click="reset()"><i class="fa fa-refresh "></i>重置</a>
						
						<!-- 导出按钮 -->
						<a class="btn pr-10 pl-10" ng-click="fnExcel()"><i class="fa fa-refresh "></i>导出</a>
						
        </div>
      </div>

    </div>
    <!-- /Handle -->
    	<div  >
			<div class="row">	
		
			<div class="col s12 "  >
				<table id="table2" class="display table table-bordered table-striped table-hover">
				   <thead>
				    <tr>
	                  <th>成交单号</th> 
	                  <th>交易币种</th> 
	                  <th>定价币种</th>
	                  <!-- <th>买卖方向</th> -->
	                  <th>成交价格 </th> 
	                  <th>成交量</th> 
	                  <th>成交金额 </th> 
	                  <th>买方手续费</th> 
	                   <th>卖方手续费</th> 
	                  <th>买家委托单号</th> 
	                  <th>买委托人</th> 
	                  <th>卖家委托单号</th> 
	                  <th>卖委托人</th> 
	                  <th>成交时间</th> 
	            
				    </tr>
				  </thead>
				  <tbody>
				  </tbody>
				</table>
				
			</div>
		</div>
		
	</div>
	



