<!-- Handle -->
    <div class="page-title pt-0 pb-3 ">
      	<div class="row">
				<div class="col m3 s12">
					<div class="input-field">
						<input id="input_fname" type="text" ng-model="serchData.userName_like" dataTableSerch> <label for="input_fname">用户名</label>
					</div>
				</div>
				<div class="col m3 s12">
					<div class="input-field">
						<input id="input_fname" type="text" ng-model="serchData.ip_like" dataTableSerch> <label for="input_fname">ip</label>
					</div>
				</div>
				<div class="col m3 s12">
					<div class="input-field">
						<select class="select2"  data-allow-clear="true"    data-placeholder="请选择状态" id="status_EQ" dataTableSerch>
							<option value="">不限</option>
							<option value="1">登录成功</option>
							<option value="2">登录失败</option>
						</select>
					</div>
				</div>
			<div class="col s12 m3 right-align pt-20">

				<a class="btn" ng-click="fnList()" ><i class="fa fa-refresh "></i>刷新</a>

			</div>
		</div>

    </div>
    <!-- /Handle -->





<div class="">
	
	<div class="row">
		<div class="col s12 ">
			<table id="dataTable" class="display table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th><input type="checkbox" id="checkboxAll" /><label for="checkboxAll"></label></th>
						<th>用户名</th>
						<th>登录时间</th>
						<th>ip</th>
						<th>状态</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>

		</div>
	</div>

</div>
<!-- /部门人员  -->



