
 <!-- Copyright:   北京互融时代软件有限公司 -->
 <!-- AppbusinessmanbankList.html     -->
 <!-- @author:      liushilei  -->
 <!-- @version:     V1.0             -->
 <!-- @Date:        2017-12-18 16:55:04      -->

<div class="card-panel">
	<h4>
		<i class="mdi-action-view-list fs-26"></i> <span class="fs-16 p-5">修改银行卡</span>
		<!-- 返回按钮 -->
		<a class="btn fs-16 right" href="#/customer/businessman/appbusinessmanbank/list/anon">返回</a>
	</h4>
	<hr>
	<form ng-submit="processForm()">
		<div class="row">
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="bankname" ng-model="formData.bankname" /> <label for="bankname">开户行</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="bankcard" ng-model="formData.bankcard" /> <label for="bankcard">银行卡号</label>
				</div>
			</div>
			
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="bankowner" ng-model="formData.bankowner" /> <label for="bankowner">持有人</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<hry-select
						url="{{HRY.host}}{{HRY.modules.customer}}businessman/appbusinessman/findall"
						placeholder="交易商" name="trueName" value="id"
						selectId="businessmanId" ></hry-select>
				</div>
			</div>
			
		</div>
		
		<div class="row">
			<p class="center mb-20">
				<!-- 保存按钮 -->
				<button class="btn" type="submit" >保存</button>
			</p>
		</div>
	</form>
</div>


