
 <!-- Copyright:   北京互融时代软件有限公司 -->
 <!-- C2ctransactionList.html     -->
 <!-- @author:      liushilei  -->
 <!-- @version:     V1.0             -->
 <!-- @Date:        2017-12-07 14:06:38      -->

<div class="card-panel">
	<h4>
		<i class="mdi-action-view-list fs-26"></i> <span class="fs-16 p-5">查看订单</span>
		<!-- 返回按钮 -->
		<a class="btn fs-16 right" href="#/customer/businessman/c2ctransaction/list/anon">返回</a>
	</h4>
	<hr>
	<form ng-submit="processForm()">
		<div class="row">
			<div class="col s12 m6">
				<div class="input-field">
					交易订单号<input type="text" name="transactionNum" value="{{formData.transactionNum}}" readonly />
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					交易类型<input type="text" name="transactionTypeValue" value="{{formData.transactionTypeValue}}" readonly />
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					交易币种<input type="text" name="transactionMoney" value="{{formData.coinCode}}" readonly />
				</div>
			</div>
			<div class="col s12 m6">
				<div class="input-field">
					交易单价<input type="text" name="transactionMoney" value="{{formData.transactionPrice}}" readonly />
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					交易数量<input type="text" name="transactionMoney" value="{{formData.transactionCount}}" readonly />
				</div>
			</div>
			<div class="col s12 m6">
				<div class="input-field">
					交易金额<input type="text" name="transactionMoney" value="{{formData.transactionMoney}}" readonly />
				</div>
			</div>
			
			
			<div class="col s12 m6">
				<div class="input-field">
					备注<input type="text" name="remark" value="{{formData.remark}}" readonly />
				</div>
			</div>
			
		</div>
		<hr/>
		<span ng-if="formData.transactionType==2" >卖方信息如下：</span>
		<div ng-if="formData.transactionType==2" class="row">
			<div class="col s12 m6">
				<div class="input-field">
					用户登录名<input type="text" name="userName" value="{{formData.userName}}" readonly />
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					开户行名称<input type="text" name="bankname" value="{{formData.bankname}}" readonly />
				</div>
			</div>
			
			
			<div class="col s12 m6">
				<div class="input-field">
					银行卡号<input type="text" name="bankcard" value="{{formData.bankcard}}" readonly />
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					持卡人<input type="text" name="bankowner" value="{{formData.bankowner}}" readonly />
				</div>
			</div>
			<div class="col s12 m6">
				<div class="input-field">
					银行卡所在地<input type="text" name="bankowner" value="{{formData.bankAddress}}" readonly />
				</div>
			</div>
		</div>
	</form>
</div>


