
 <!-- Copyright:   北京互融时代软件有限公司 -->
 <!-- C2ctransactionList.html     -->
 <!-- @author:      liushilei  -->
 <!-- @version:     V1.0             -->
 <!-- @Date:        2017-12-07 14:06:38      -->

<div class="card-panel">
	<h4>
		<i class="mdi-action-view-list fs-26"></i> <span class="fs-16 p-5">修改C2cTransaction</span>
		<!-- 返回按钮 -->
		<a class="btn fs-16 right" href="#/customer/businessman/c2ctransaction/list/anon">返回</a>
	</h4>
	<hr>
	<form ng-submit="processForm()">
		<div class="row">
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="transactionNum" ng-model="formData.transactionNum" /> <label for="transactionNum">交易订单号</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="userName" ng-model="formData.userName" /> <label for="userName">用户登录名</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="customerId" ng-model="formData.customerId" /> <label for="customerId">用户id</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="accountId" ng-model="formData.accountId" /> <label for="accountId">虚拟账户id</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="transactionType" ng-model="formData.transactionType" /> <label for="transactionType">交易类型(1线上充值,2线上提现 3线下充值 4线下取现...)</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="transactionMoney" ng-model="formData.transactionMoney" /> <label for="transactionMoney">交易金额</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="status" ng-model="formData.status" /> <label for="status">1待审核 2已完成 3以否决</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="remark" ng-model="formData.remark" /> <label for="remark">备注</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="coinCode" ng-model="formData.coinCode" /> <label for="coinCode">币的类型(RMB USD)</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="fee" ng-model="formData.fee" /> <label for="fee">手续费</label>
				</div>
			</div>
			
		</div>
		
		<div class="row">
			<p class="center mb-20">
				<!-- 保存按钮 -->
				<button class="btn" type="submit" >保存</button>
			</p>
		</div>
	</form>
</div>


