<!-- Copyright:   北京互融时代软件有限公司 -->
<!-- C2ctransactionList.html     -->
<!-- @author:      liushilei  -->
<!-- @version:     V1.0             -->
<!-- @Date:        2017-12-07 14:06:38      -->

<div class="page-title">
    <div class="row">
    <div class="col s12 m12 l12 right-align pr-30">
            <a class="btn" ng-click="fnAdd()">添加</a>
            <a class="btn" ng-click="fnModify()">修改</a>
            <!--刷新按钮 -->
            <a class="btn" ng-click="fnList()">刷新</a>
        </div>
    </div>
    
</div>



<div>
    <div class="row">
        <div class="col s12 ">
            <table id="dataTable" class="display table table-bordered table-striped table-hover ">
                <thead>
                <tr>
                    <th><input type="checkbox" id="checkboxAll"/><label for="checkboxAll"></label></th>
                    <th>交易币种</th>
                    <th>开启交易</th>
                    <th>手续费类型</th>
                    <th>手续费</th>
                    <th>允许最大未付款时间</th>
                    <th>最小买入定价</th>
                    <th>最大买入定价</th>
                    <th>最小卖出定价</th>
                    <th>最大卖出定价</th>
                    <th>交易最小数量</th>
                    <th>交易最大数量</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
    </div>
</div>


