<!-- With Search -->
	<div class="card-panel">
		<h4>查看</h4>
		<div class="row">
			<div class="col s1 "></div>
			<div class="col s4 ">
				
			environmentType<input type="text" name="environmentType"   value="{{item.environmentType}}"  ng-model ="infoModel.environmentType" readonly="readonly" />
					第三方商户号<input type="text" name="platfformNo"  value="{{infoModel.platFormNo}}" ng-model ="infoModel.platFormNo"  readonly="readonly" />
					第三方商户id<input type="text" name="platFormId"  value="{{infoModel.platFormId}}" ng-model ="infoModel.platFormId" readonly="readonly" />
			</div>
		
		
		</div>
	</div>
	<!-- /With Search --> 