<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="huobiApiClient" class="com.huobi.api.ApiClient" scope="prototype">
        <constructor-arg name="host" value="api.hadax.com" />
        <constructor-arg name="accessKeyId" value="KEY"/>
        <constructor-arg name="accessKeySecret" value="SECRET" />
    </bean>

</beans>