    <!-- With Search -->
    <div class="card-panel">
      <h4>查看客户信息</h4>
      <div class="row">
      	<div class="col s1 "></div>
		<div class="col s3 ">
		    <form ng-submit="processForm()">
                    <div class="input-field"> 
				       用户名<input type="text" name="name" value="{{model.userName}}"  readonly  />
				    </div>
			</form>
			
		</div>
		<div class="col s2 "></div>
		
		
      </div>
    </div>
    <!-- /With Search -->
<link rel="stylesheet" href="static/lib/ztree/css/zTreeStyle/zTreeStyle.css" type="text/css">


