<!-- 添加分公司-->
<div class="card-panel">
	<h4>
		<i class="mdi-action-view-list fs-26"></i> <span class="fs-16 p-5">添加</span>
	</h4>
	<hr>
	<form id="seeForm" name="myform">
		<div class="row">
			<div class="col  s12 left">
				<div class="col m6 s12">
						<div class="input-field">
							<hry-select  dataTableSerch url="{{HRY.host}}{{HRY.modules.exchange}}product/exproduct/selectProduct?states=1" name="coinCode" value="coinCode" selectId="coinCode" ></hry-select>
					  	 </div>
					</div>
					
					<div class="col m6 s12">
					<div class="input-field">
						<select id="openAccountType" class="select2"  data-allow-clear="true"    data-placeholder="请选择开户类型 ">
							<option value="">不限</option>
							<option value="0">充币</option>
							<option value="1">提币</option>
						</select>
					</div>
				</div>
					
					
				</div>
			
			
	<div class="col  s12 left">			
				<div class="col m6 s12">
					<div class="input-field">
						<select class="select2"  data-allow-clear="true"    data-placeholder="是否是主账户 " id="isShow">
							<option value="">不限</option>
							<option value="0">不是主帐号</option>
							<option value="1">是主账户</option>
						</select>
					</div>
				</div>
				
				<div class="col m6 s12">
					<div class="input-field">
						<input type="text" id="input_address" ng-model="formData.accountNumber" validator="required" required-error-message="钱包地址必填"> <label for="input_address">钱包地址</label>
					</div>
				</div>
		</div>		
		
		<div class="col  s12 left">	
				<div class="col m6 s12">
					<div class="input-field">
						<input type="text" id="input_person" ng-model="formData.accountName" validator="required" required-error-message="钱包地址账户必填" > <label for="input_person">钱包地址账户</label>
					</div>
				</div>

				<div class="col m6 s12">
					<div class="input-field">
					<select class="select2"  data-allow-clear="true" data-placeholder="请选择 站点（默认国内站）" id="website">
							<option value="">不限</option>
							<option value="cn"  selected>国内站</option>
							<option value="en">国际站</option>
						</select>
						</div>
					
				</div>
			</div>
			
				<div class="col  s12 left hide" >
					<div class="col m6 s12">
					<div class="input-field">
						<textarea id="retainsMoney" value="0"  class="materialize-textarea" ng-model="formData.retainsMoney"></textarea>
						<label for="retainsMoney">账户保留金额</label>
						</div>
						</div>
					
			</div>
			
			<div class="col  s12 left">
					
					<div class="input-field">
						<textarea id="textarea1"  class="materialize-textarea" ng-model="formData.remark"></textarea>
						<label for="textarea1">备注</label>
						</div>
					
			</div>
			
			
			
		</div>

		
		<div class="row">
			<p class="center mb-20">
				<!-- 保存按钮 -->
				<button class="btn" type="submit" id="addAppUserSubmit" ng-disabled="!form.checkValid(myform)" ng-click="form.submit(myform,processForm)">保存</button>
			</p>
		</div>
	</form>

</div>
<!-- /添加分公司  -->

<link rel="stylesheet" href="static/lib/ztree/css/demo.css" type="text/css">
<link rel="stylesheet" href="static/lib/ztree/css/zTreeStyle/zTreeStyle.css" type="text/css">
<script type="text/javascript" src="static/lib/jquery/ajaxupload.3.6.js"></script>
<script type="text/javascript">
	function nofind() {
		var img = event.srcElement;
		//	img.src = HRY.host + "/static/static/images/logo_person.png";
	}
</script>


