
<!-- Handle -->
    <div class="page-title pt-0 pb-3 ">
      <div class="row">
        <div class="col s12 m9 l7">
           <div class="row">
		
		<div class="col m3 s12">
			<div class="input-field">
				<select class="select2"  data-allow-clear="true" data-placeholder="请选择开户类型" id="openAccountType_EQ" dataTableSerch>
					<option value="">不限</option>
					<option value="0">企业</option>
					<option value="1">个人</option>
				</select>
			</div>
		</div>
		<div class="col m3 s12">
			<div class="input-field">
				<input type="text" ng-model="serchData.accountNumber_like" dataTableSerch> <label for="input_lname">账户号</label>
			</div>
		</div>
		<div class="col m3 s12">
			<div class="input-field">
				<input type="text" ng-model="serchData.accountName_like" dataTableSerch> <label for="input_lname">开户名称</label>
			</div>
		</div>
	</div>
        
        
        </div>
        <div class="col s12 m3 l5 right-align pt-20">
	 				<a class='dropdown-button btn w-120' href='#' ng-if="requiresPermissions('account','/fund/appouraccount/add')" data-activates='dropdown1'><i class="fa fa-plus-circle left" aria-hidden="true"></i>添加</a>
					<!-- Dropdown Structure -->
					<ul id='dropdown1' class='dropdown-content'>
						<li><a href="#/account/fund/appouraccount/add/anon">添加银行账户</a></li>
						<!-- <li><a href="#/account/fund/appouraccount/addzfb/anon">添加支付宝账户</a></li> -->
					</ul>
						
						<!-- 添加按钮 -->
<!-- 					    <a class='btn pr-10 pl-10'  ng-if="requiresPermissions('account','/fund/appouraccount/add')" href='#/account/fund/appouraccount/add/anon' ><i class="fa fa-plus-circle " aria-hidden="true"></i>添加</a>
			 -->						
						<!-- 手续费取现按钮 -->
<!-- 						<a class="btn pr-10 pl-10"    ng-click="fnFeeWithdrawals()" ><i class="fa fa-search-plus " aria-hidden="true"></i>手续费取现</a>
 -->						
						<!-- 查看按钮 -->
						<a class="btn pr-10 pl-10"  ng-if="requiresPermissions('account','/fund/appouraccount/see')"  ng-click="fnSee('fund/appouraccount/see')" ><i class="fa fa-search-plus " aria-hidden="true"></i>查看</a>
 						
						<!-- 修改按钮 -->
						<a class="btn pr-10 pl-10"  ng-if="requiresPermissions('account','/fund/appouraccount/modify')"  ng-click="fnModify('fund/appouraccount/modify')"><i class="fa fa-pencil-square-o " aria-hidden="true"></i>修改</a>
						<!-- 删除按钮 -->
						
						<a class="btn pr-10 pl-10"  ng-if="requiresPermissions('account','/fund/appouraccount/remove')"  ng-click="fnRemove('fund/appouraccount/remove')"> <i class="fa fa-trash-o " aria-hidden="true"></i>删除</a>

						<!-- 刷新按钮 -->
						<a class="btn pr-10 pl-10"  ng-click="fnList()"><i class="fa fa-refresh "></i>刷新</a>
						
						<!-- 导出按钮 -->
						<a class="btn pr-10 pl-10" ng-click="fnExcel()"><i class="fa fa-refresh "></i>导出</a>
						
        </div>
      </div>

    </div>
    <!-- /Handle -->



<!-- 分公司管理 -->
<div >

	<div class="row">
		<div class="col s12 ">
			<table id="table2" class="display table table-bordered table-striped table-hover ">
				<thead>
					<tr>
						<th><input type="checkbox" id="checkboxAll" /><label for="checkboxAll"></label></th>
						<th>账户类型</th>
						<th>账户号</th>
						<th>开户类型</th>
						<th>开户名称</th>
						<th>总账户余额</th>
<!-- 						<th>手续费账户余额</th>
						<th>手续费已提现额</th>
 -->						<th>所属站点</th>
						<th>是否主账户</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>

		</div>
	</div>

</div>


<!-- 手续费提现 -->
<div class="hide" id="modifyInfo">
	<div class="card-panel">
		<form ng-submit="modifySubmit()">
			<input type="hidden" id="id" name="id"/>
			<div class="row">
				<div class="col s12 ">
					<div class="input-field">
						可提现手续费金额
						<input type="text" id="accountFee" name="accountFee" readonly/>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s12 ">
					<div class="input-field">
						<input type="text" id="money" name="money" validator="required"  required-error-message="必填" ng-model="money"
						 data-type="num_range" data-min="0.0001" data-max="10000000"/> <label for="carId">提现金额</label>
					</div>
				</div>
			</div>
			<button class="btn"  type="submit">提交</button>
		</form>
	</div>
</div>


