
<!-- Handle -->
<div class="page-title pt-0 pb-3 ">
	<div class="row">

		<div class="col s10">
			<div class="row">

<div class="col s6">
<div class="row">

<!-- 用户账号 -->
				<div class="col s3">
					<div class="input-field">
						<input type="text" ng-model="serchData.userName_LIKE" dataTableSerch> <label for="input_lname">用户账号</label>
					</div>
				</div>

				<!-- 用户名称账号 -->
				<div class="col s3">
					<div class="input-field">
						<input type="text" ng-model="serchData.trueName_LIKE" dataTableSerch> <label for="input_lname">用户姓名</label>
					</div>
				</div>

				<!-- 交易流水号 -->
				<div class="col s3">
					<div class="input-field">
						<input type="text" ng-model="serchData.transactionNum_LIKE" dataTableSerch> <label for="input_transactionNum">交易订单号</label>
					</div>
				</div>

				<!-- 提现银行卡号 -->
				<div class="col s3">
					<div class="input-field">
						<input type="text" ng-model="serchData.custromerAccountNumber_LIKE" dataTableSerch> <label for="input_bankNumber">银行卡号</label>
					</div>
				</div>
				
</div>
</div>

<div class="col s6">

<div class="row">


				
				<div class="col s4">
					<div class="input-field">
						<input class="pikaday" type="text" readonly ng-model="serchData.created_GT" dataTableSerch> <label for="input_text">申请时间-起</label>
					</div>
				</div>
				<div class="col s4">
					<div class="input-field">
						<input class="pikaday" type="text" readonly ng-model="serchData.created_LT" dataTableSerch> <label for="input_text">申请时间-止</label>
					</div>
				</div>
				<!-- 汇款备注 -->
				<div class="col s3">
					<div class="input-field">
						<input type="text" ng-model="serchData.remark_LIKE" dataTableSerch> <label for="input_bankNumber">汇款备注</label>
					</div>
				</div>
				<!-- 账户类型 -->
				<!-- <div class="col s4">
					<div class="input-field">
						<select data-placeholder="请选择账户类型" class="select2" name="currencyType_EQ" dataTableSerch>
							<option value="">不限</option>
							<option value="usd">USD</option>
							<option value="cny">CNY</option>
						</select>
					</div>
				</div> -->

</div>

</div>



				

				

			</div>
			<!-- 筛选 end -->
			</div>
<div class="col s2 right-align pt-20">

			<!-- 刷新按钮 -->
			<a class="btn pr-10 pl-10" ng-click="fnList()"><i class="fa fa-refresh "></i>刷新</a>
			<!-- 撤销按钮 -->
			<a class="btn pr-10 pl-10" ng-click="fnUndo()"><i class="fa fa-refresh "></i>撤销</a>
			<!-- 导出按钮 -->
			<a class="btn pr-10 pl-10" ng-click="fnExcel()"><i class="fa fa-refresh "></i>导出</a>
			
		</div>
		</div>
		
	</div>

</div>
<!-- /Handle -->

<!-- 分公司管理 -->
<div class="">

	<div class="row">

		<div class="col s12 ">
			<table id="table2" class="display table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th><input type="checkbox" id="checkboxAll" /><label for="checkboxAll"></label></th>
						<th>用户账号</th>
						<th>姓氏</th>
						<th>名字</th>
						<!-- <th>账户类型</th> -->
						<th>交易类型</th>
						<th>银行名称</th>
						<th>银行卡号/账号</th>
						<th>我方账号</th>
						<th>充值金额</th>
						<th>手续费</th>
						<th>用户到账金额</th>
						<th>交易订单号</th>
						<th>充值备注</th>
						<th>操作时间</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>

		</div>
	</div>

</div>




