
<!-- With Search -->
<div class="card-panel">
	<h4>
		<i class="mdi-action-view-list fs-26"></i> <span class="fs-16 p-5">添加角色</span>
		<!-- 返回按钮 -->
		<a class="btn fs-16 right" href="#/oauth/user/approle/list/anon">返回</a>
	</h4>
	<hr>
	<div class="row">
		<div class="col s1 "></div>
		<div class="col s3 ">
			<form ng-submit="processForm()">
				<div class="input-field">
					<input type="text" name="name" ng-model="formData.name" required /> <label for="input_text">角色名称</label>
				</div>
				<div class="input-field">
					<input type="text" name="remark" ng-model="formData.remark" /> <label for="input_text">角色描述</label>
				</div>
				<a class="btn" type="buttom" ng-click="selectResource()">选择权限</a> <input type="hidden" name="appResourceSet" id="appResourceSet" />
				<button class="btn" type="submit" id="addAppRolesSubmit">保存</button>
			</form>

		</div>
		<div class="col s2 "></div>
	</div>

</div>

<div class="row pl-20 pr-30  mw-700  hide" id="treeDiv">
	<div class="col s12 ">
		<ul class="tabs">
			<li class="tab col s3" ng-repeat="item in applicactions"><a href="#{{item.mkey}}">{{item.name}}</a></li>
		</ul>
	</div>
	<div ng-repeat="item in applicactions"  id="{{item.mkey}}" class="col s12"  >
		<ul id="{{item.mkey}}Tree" class="ztree"></ul>
	</div>
</div>

<!-- /With Search -->
<link rel="stylesheet" href="static/lib/ztree/css/zTreeStyle/zTreeStyle.css" type="text/css">

