
<!-- <link rel="stylesheet"  type="text/css" href="static/lib/ztree/css/demo.css" /> -->
<!-- 上下级配置-->
	<div class="card-panel" >
		<form id="seeForm" ng-submit="processForm()">
		 <h4>
			<i class="mdi-action-view-list fs-26"></i>
       		<span class="fs-16 p-5">上下级配置</span>
       		
       			<button class="btn fs-16 right" type="submit"  >保存</button>
       		
		 </h4>
		 </form>
		 <hr>		 
		<div class="row">
			<!-- 提示信息 -->
			<div class="col s12">
				<div class="alert alert-dismissible orange lighten-4 black-text text-darken-2">
					<i class="mdi-av-volume-up fs-20"></i>
					 温馨提示：左侧为已配好的上下级关系的人员，右侧为未设置上下级管理的人员。			  
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col m1 s12 "></div>
			<!-- /提示信息 -->
			<div class="col m5 s12 ">
				<h4>用户列表</h4>
				<ul id="treeDemo" class="ztree collapsible"></ul>
			</div>
		<!-- 	<div class="col m5 s12 ">
				<h4>用户列表</h4>
				<ul id="treeDemo2" class="ztree collapsible"></ul>
			</div> -->
		</div>
		
	</div>
	
<!-- /上下级配置  --> 
<SCRIPT type="text/javascript">
	var setting = {
		edit: {
			enable: true,
			showRemoveBtn: false,
			showRenameBtn: false
		},
		data: {
			simpleData: {
				enable: true,
				idKey: "userId",
         		pIdKey: "superiorId",
         		rootPId: ""
			}
		},
		callback: {
			beforeDrag: beforeDrag,
			beforeDrop: beforeDrop
		}
	};

	var zNodes =[];

	function loadData(){
	
		//上下级列表数据
		$.post( HRY.modules.oauth+"user/appuserlevel/list.do",
			 null,
	  		 function(data){
	   			for(var i = 0 ; i < data.length ; i++) {
	   				var item = {
	   							id: data[i].id,
	   							superiorId: data[i].superiorId,
	   							name: data[i].name,
	   							userId : data[i].userId,
	   							open : true
	   							//drop : false
	   						   }
	   				zNodes.push(item);
	   			}
	   			//初始化菜单树
				$.fn.zTree.init($("#treeDemo"), setting, zNodes);
				/* $.fn.zTree.init($("#treeDemo2"), setting); */
	   		 }, 
	   		 "json"
  		  );
	}
	

	function beforeDrag(treeId, treeNodes) {
		for (var i=0,l=treeNodes.length; i<l; i++) {
			if (treeNodes[i].drag === false) {
				return false;
			}
		}
		return true;
	}
	function beforeDrop(treeId, treeNodes, targetNode, moveType) {
		return targetNode ? targetNode.drop !== false : true;
	}
	
	$(document).ready(function(){
		loadData();
	});
</SCRIPT>


