<!-- 添加分公司-->
	<div class="card-panel" >
		 <h4>
			<i class="mdi-action-view-list fs-26"></i>
       		<span class="fs-16 p-5">修改密码</span>
		 </h4>
		 <hr>
		<form id="seeForm" ng-submit="processForm()">
		<div class="row">
			<div class="col s12"></div>
				<div class="col s3 m3 l3"></div>
				<div class="col s4 m4 l4">
			      	<div class="input-field">
			        	   <input  type="password" id="oldPassword"  required>
			        	   <label for="input_text">原密码</label>
			      	</div>
			      	<div class="input-field">
			        	   <input  type="password"  id="newPassword" required>
			        	   <label for="input_text">新密码</label>
			      	</div>
			      	<div class="input-field">
			        	   <input  type="password"  id="affirmPassword" required>
			        	   <label for="input_text">确认密码</label>
			      	</div>
			      	<button class="btn"  type="submit" >修改</button>
			    </div>
			    <div class="col s5 m5 l5"></div>
		</div>
		</form>
		
</div>
<!-- /添加分公司  --> 

<script type="text/javascript" src="static/lib/jquery/ajaxupload.3.6.js"></script>
<script type="text/javascript">
function nofind(){
var img=event.srcElement;
img.src=HRY.host+"/static/static/images/logo_person.png";
}
</script>

