.exuser {
  float: left;
  width: 100%;
  padding-top: 65px; }
  .exuser .exuser-left {
    width: 17%;
    float:left;
    background: #f1eff0; }
    .exuser .exuser-left h3 {
      font-size: 18px;
      height: 60px;
      line-height: 60px;
      overflow: hidden;
      padding-left: 12%;
      color: #666;
      margin: 0;
      font-weight:normal;
       }
      .exuser .exuser-left h3 a {
        color: #666; }
    .exuser .exuser-left h3.active {
      background: #e5e5e5;
      border-right: 4px solid #1792fa; }
    .exuser .exuser-left ul li {
      font-size: 15px;
      height: 33px;
      line-height: 33px;
      overflow: hidden;
      padding-left: 20%; }
      .exuser .exuser-left ul li a {
        color: #666; }
    .exuser .exuser-left ul li.active {
      background: #e5e5e5;
      border-right: 4px solid #1792fa; }
      .userRight{
        width:83%;
        float:left;
        background:#fff;
        padding:0 2% 0 4%;
        min-height:600px;
      }
