
 <!-- Copyright:   北京互融时代软件有限公司 -->
 <!-- AppcommendmoneyList.html     -->
 <!-- @author:      menwei  -->
 <!-- @version:     V1.0             -->
 <!-- @Date:        2017-11-29 10:05:55      -->

<div class="card-panel">
	<h4>
		<i class="mdi-action-view-list fs-26"></i> <span class="fs-16 p-5">查看AppCommendMoney</span>
		<!-- 返回按钮 -->
		<a class="btn fs-16 right" href="#/customer/money/appcommendmoney/list/anon">返回</a>
	</h4>
	<hr>
	<form ng-submit="processForm()">
		<div class="row">
			<div class="col s12 m6">
				<div class="input-field">
					custromerId<input type="text" name="custromerId" value="{{formData.custromerId}}" readonly />
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					custromerName<input type="text" name="custromerName" value="{{formData.custromerName}}" readonly />
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					邀请码<input type="text" name="refecode" value="{{formData.refecode}}" readonly />
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					总佣金<input type="text" name="moneyNum" value="{{formData.moneyNum}}" readonly />
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					已派发佣金<input type="text" name="paidMoney" value="{{formData.paidMoney}}" readonly />
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					所有下级<input type="text" name="sid" value="{{formData.sid}}" readonly />
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					fixPriceType<input type="text" name="fixPriceType" value="{{formData.fixPriceType}}" readonly />
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					fixPriceCoinCode<input type="text" name="fixPriceCoinCode" value="{{formData.fixPriceCoinCode}}" readonly />
				</div>
			</div>
			
		</div>
	</form>
</div>


