<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://code.alibabatech.com/schema/dubbo  
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <dubbo:reference id="remoteThirdPayInterfaceService" interface="com.mz.remote.RemoteThirdPayInterfaceService"
                     check="false">
    </dubbo:reference>


    <dubbo:reference id="remoteAppThirdPayConfigService" interface="com.mz.remote.RemoteAppThirdPayConfigService"
                     check="false">
    </dubbo:reference>

    <dubbo:reference id="remoteAppLogThirdPayService" interface="com.mz.remote.RemoteAppLogThirdPayService"
                     check="false">
    </dubbo:reference>

    <dubbo:reference id="remoteThirdInterfaceService" interface="com.mz.remote.RemoteThirdInterfaceService"
                     check="false">
    </dubbo:reference>

</beans> 