
 <!-- Copyright:   北京互融时代软件有限公司 -->
 <!-- AppcommendrankList.html     -->
 <!-- @author:      menwei  -->
 <!-- @version:     V1.0             -->
 <!-- @Date:        2017-12-14 15:06:36      -->

<div class="card-panel">
	<h4>
		<i class="mdi-action-view-list fs-26"></i> <span class="fs-16 p-5">查看AppCommendRank</span>
		<!-- 返回按钮 -->
		<a class="btn fs-16 right" href="#/customer/rank/appcommendrank/list/anon">返回</a>
	</h4>
	<hr>
	<form ng-submit="processForm()">
		<div class="row">
			<div class="col s12 m6">
				<div class="input-field">
					userId<input type="text" name="userId" value="{{formData.userId}}" readonly />
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					userName<input type="text" name="userName" value="{{formData.userName}}" readonly />
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					fixMoney<input type="text" name="fixMoney" value="{{formData.fixMoney}}" readonly />
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					fixCoin<input type="text" name="fixCoin" value="{{formData.fixCoin}}" readonly />
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					coinCode<input type="text" name="coinCode" value="{{formData.coinCode}}" readonly />
				</div>
			</div>
			
		</div>
	</form>
</div>


