
 <!-- Copyright:   北京互融时代软件有限公司 -->
 <!-- AppcommendrankList.html     -->
 <!-- @author:      menwei  -->
 <!-- @version:     V1.0             -->
 <!-- @Date:        2017-12-14 15:06:36      -->

<div class="card-panel">
	<h4>
		<i class="mdi-action-view-list fs-26"></i> <span class="fs-16 p-5">查看AppCommendRank</span>
		<!-- 返回按钮 -->
		<a class="btn fs-16 right" href="#/customer/rank/appcommendrank/list/anon">返回</a>
	</h4>
	<hr>
	<form ng-submit="processForm()">
		<div class="row">
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="userId" ng-model="formData.userId" /> <label for="userId">userId</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="userName" ng-model="formData.userName" /> <label for="userName">userName</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="fixMoney" ng-model="formData.fixMoney" /> <label for="fixMoney">fixMoney</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="fixCoin" ng-model="formData.fixCoin" /> <label for="fixCoin">fixCoin</label>
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					<input type="text" id="coinCode" ng-model="formData.coinCode" /> <label for="coinCode">coinCode</label>
				</div>
			</div>
			
		</div>
		
		<div class="row">
			<p class="center mb-20">
				<!-- 保存按钮 -->
				<button class="btn" type="submit" >保存</button>
			</p>
		</div>
	</form>
</div>


