
    <!-- Handle -->
    <div class="page-title pt-0 pb-3 ">
      <div class="row">
        <div class="col s12 m9 l7">
           <div class="row">
           		<div class="col m3 s12">
					<div class="input-field">
						<input type="text"  ng-model="serchData.postParam_like" dataTableSerch>
						<label for="input_city">请求参数(手机号)</label>
				   </div>
				</div>
				<div class="col m3 s12">
					<div class="input-field">
					<select class="select2"  data-allow-clear="true"    data-placeholder="请选择状态" id="receiveStatus_EQ" dataTableSerch>
							<option value="">不限</option>
							<option value="1">已处理</option>
							<option value="0">未收到</option>
						</select>
					</div>
				</div>
				<div class="col m3 s12">
					<div class="input-field">
					<select class="select2"  data-allow-clear="true"    data-placeholder="请选择状态" id="sendStatus_EQ" dataTableSerch>
							<option value="">不限</option>
							<option value="1">已发送</option>
							<option value="0">未发送</option>
						</select>
					</div>
				</div>
			</div>
        </div>
        <div class="col s12 m3 l5 right-align pt-20">
						<!-- 刷新按钮 -->
						<a class="btn pr-10 pl-10"  ng-click="fnList()"><i class="fa fa-refresh "></i>刷新</a>
        </div>
      </div>

    </div>
    <!-- /Handle -->
	
	
<div >
	<div class="row">
		<div class="col s12 ">
			<table id="dataTable" class="display table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th><input type="checkbox" id="checkboxAll" /><label for="checkboxAll"></label></th>
						<th>时间</th>
						<th>类型</th>
						<th>是否处理</th>
						<th>是否发送</th>
						<!-- <th>服务地址</th> -->
						<th>短信内容</th>
						<th>请求参数</th>
						<th>第三方返回信息</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>

		</div>
	</div>

</div>
<!-- /部门人员  -->



