
 <!-- Copyright:   北京互融时代软件有限公司 -->
 <!-- AppcommenduserList.html     -->
 <!-- @author:      menwei  -->
 <!-- @version:     V1.0             -->
 <!-- @Date:        2017-11-28 15:30:38      -->

<div class="card-panel">
	<h4>
		<i class="mdi-action-view-list fs-26"></i> <span class="fs-16 p-5">查看AppCommendUser</span>
		<!-- 返回按钮 -->
		<a class="btn fs-16 right" href="#/customer/commend/appcommenduser/list/anon">返回</a>
	</h4>
	<hr>
	<form ng-submit="processForm()">
		<div class="row">
			<div class="col s12 m6">
				<div class="input-field">
					pid<input type="text" name="pid" value="{{formData.pid}}" readonly />
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					username<input type="text" name="username" value="{{formData.username}}" readonly />
				</div>
			</div>
			
			<div class="col s12 m6">
				<div class="input-field">
					pname<input type="text" name="pname" value="{{formData.pname}}" readonly />
				</div>
			</div>
			
		</div>
	</form>
</div>


