
 <!-- Copyright:   北京互融时代软件有限公司 -->
 <!-- AppcommenduserList.html     -->
 <!-- @author:      menwei  -->
 <!-- @version:     V1.0             -->
 <!-- @Date:        2017-11-28 15:30:38      -->

<div class="page-title">
	<div class="row">
		<div class="col s12 m6 l7">
			<div class="col s3">
			<div class="input-field">
				<input type="text" id="input_username" ng-model="serchData.username_like" dataTableSerch> <label for="input_username">推荐人账号</label>
			</div>
			<div class="input-field">
				<input type="text" id="input_username" ng-model="serchData.pname_like" dataTableSerch> <label for="input_username">查直推人账号</label>
			</div>
		</div>
		</div>
		<div class="col s12 m6 l5 right-align pr-30">
			<div class="row">
			    <a class="btn" ng-click="findReferees()">推荐人账号</a>
				<a class="btn" ng-click="fnRemove()">查看推荐详情</a>
				<a class="btn" ng-click="forzen()">冻结推荐人</a>
				<a class="btn" ng-click="noforzen()">取消冻结</a>
				<a class="btn" ng-if="requiresPermissions('customer','/commend/appcommenduser/editadd')" ng-click="fnFeeWithdrawals()">设置单独奖励比例</a>
				
				
				<!--刷新按钮 -->
				<a class="btn" ng-click="fnList()">刷新</a>
			</div>
		</div>
	</div>
</div>
<div>
	<div class="row">
		<div class="col s12 ">
			<table id="dataTable" class="display table table-bordered table-striped table-hover ">
				<thead>
					<tr>
						<th><input type="checkbox" id="checkboxAll" /><label for="checkboxAll"></label></th>
					<!-- 	<th>pid</th> -->
						<th>用户账号</th>
						<th>邀请码</th>
						<th>是否冻结邀请奖励</th>
					
					<!-- 	<th>pname</th> -->
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>

		</div>
	</div>
	
	
	
	
		<div class="hide" id="modifyInfo" >
	
					<hr>
						直接推荐用户个数<div id="one"></div>
					<br>
					<hr>
						　   二级推荐用户个数<div id="two"></div>
					<br>
					<hr>
						　三 级推荐用户个数<div id="three"></div>
					<br>
					<hr>
						　三级后推荐用户个数<div id="later"></div>
					<br>
					<hr>
						　总推荐用户个数<div id="selectAll"></div>
					<br>
					<hr>
						　总激活用户个数<div id="conut"></div>
					<br>				
	     </div>
	
	<div class="hide" id="modifyInfo11" >
	
					<hr>
						直接推荐用户账号<div id="userName"></div>
					<br>
				
	     </div>
	
	
</div>
<!-- 手续费提现 -->
<div class="hide" id="modifyInfoone">
	<div class="card-panel">
		<form ng-submit="modifySubmit()">
			<input type="hidden" id="id" name="id"/>
			<div class="row">
				<div class="col s12 ">
					<div class="input-field">
						用户账号
						<input type="text" id="accountFee" name="accountFee" readonly/>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s12 ">
					<div class="input-field">
						<input type="text" id="money" name="money" validator="required"  required-error-message="必填" ng-model="money"
						 data-type="num_range" data-min="0.000001" data-max="10000000"/> <label for="carId">佣金比例</label>
					</div>
				</div>
			</div>
			<button class="btn"  type="submit">提交</button>
		</form>
	</div>
</div>

