    <!-- With Search -->
    <div class="card-panel">
      <h4>添加取币地址</h4>
      <div class="row">
      	<div class="col s1 "></div>
		<div class="col s3 ">
			<form ng-submit="processForm()">
                    <div class="input-field"> 
				       <input type="text" name="withdrawAddress" ng-model="formData.withdrawAddress"  required  />
				       <label for="input_text">取币地址</label>
				    </div>
				    <div class="input-field"> 
				     <input type="hidden" name="coinType" ng-model="formData.coinType"  value="88" />
				       <input type="text" name="addressRemark" ng-model="formData.addressRemark"   />
				       <label for="input_text">地址描述</label>
				    </div>
					<input type="hidden" name="appResourceSet" id="appResourceSet"  />
					<button class="btn" type="submit" id="addAppRolesSubmit" >保存</button>
			</form>
			
		</div>
		<div class="col s2 "></div>
		<div class="col s4 ">
			权限树
			<ul id="tree" class="ztree"></ul>
		</div>
		
		
      </div>
    </div>
    <!-- /With Search -->
<link rel="stylesheet" href="static/lib/ztree/css/zTreeStyle/zTreeStyle.css" type="text/css">
<SCRIPT type="text/javascript" >
	var zTree;

	var setting = {
		view: {
			dblClickExpand: false,
			showLine: true,
			selectedMulti: false
		},
		check : {
			autoCheckTrigger:false,
			chkboxType :{"Y":"ps","N":"ps"},
			chkStyle : "checkbox",
			enable : true,
			nocheckInherit : false,
			chkDisabledInherit : false,
			radioType : "level"
			
		},
		
		data: {
			simpleData: {
				enable:true,
				id:"id",
				idKey: "mkey",
				pIdKey: "pkey",
				rootPId: ""
			}
		},
		callback: {
				beforeClick:function(treeId, treeNode){
					//alert(treeId);
				}
		}
	};
	
	
	var zNodes =[
		
	];
	
	function loadMenuList(){
		$.post( HRY.modules.oauth+"user/appresource/findToJsonOnRolesAdd.do",
			 null,
	  		 function(data){
	   			for(var i = 0 ; i < data.length ; i++) {
	   				var item = {
	   							id:data[i].id,
	   							mkey:data[i].mkey,
	   							pkey:data[i].pkey,
	   							name:data[i].name,
	   							open : false
	   							//drop : false
	   						   }
	   				zNodes.push(item);
	   			}
	   			//初始化菜单树
				$.fn.zTree.init($("#tree"), setting, zNodes);
				
	   		 }, 
	   		 "json"
  			);
	}
	

	$(document).ready(function(){
		//加载菜单数据
		loadMenuList();
		
		
		//表单提交
		$("#addAppRolesSubmit").on("click", function() {
				var ztree = $.fn.zTree.getZTreeObj("tree");
				var chekcNodes = ztree.getCheckedNodes();
				if(chekcNodes.length<1){
					Materialize.toast("请选择权限", 4000)
					return false;
				}
				var str ="";
				for (var i=0; i<chekcNodes.length; i++) {
					str += chekcNodes[i].id;
					if(i!=chekcNodes.length-1){
						str += ","
					}
				}
				$("#appResourceSet").val(str);
		});
			
		
		
		
	});

  </SCRIPT>

