<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mz.customer.businessman.dao.OtcOrderTransactionDao">
    <select id="otcorderlistall" parameterType="java.util.Map" resultType="com.mz.customer.businessman.model.OtcOrderTransaction">
        select
        *
        from otc_order_transaction
        <where>
            ( sellCustomId = #{customId} or buyCustomId = #{customId} )
            <if test="coinCode!=null and coinCode!='' ">
                and  coinCode = #{coinCode}
            </if>
        </where>
        order by created desc
    </select>
    <select id="otcorderbuylist" parameterType="java.util.Map" resultType="com.mz.customer.businessman.model.OtcOrderTransaction">
        select
        *
        from otc_order_transaction
        <where>
             buyCustomId = #{buyCustomId}
        </where>
        order by created desc
    </select>
    <select id="otcorderselllist" parameterType="java.util.Map" resultType="com.mz.customer.businessman.model.OtcOrderTransaction">
        select
        *
        from otc_order_transaction
        <where>
            sellCustomId = #{sellCustomId}
        </where>
        order by created desc
    </select>
</mapper>
