 <!-- Handle -->
    <div class="page-title pt-0 pb-3 ">
      <div class="row">
        <div class="col s12 m9 l7">
           <div class="row">
				<div class="col m2 s3">
					<div class="input-field">
				        <input id="userName" ng-model="serchData.userName_like"   type="text"  dataTableSerch> <label for="userName">用户账号</label>
				      </div>
				</div>
				<div class="col m2 s3">
					<div class="input-field">
				        <input id="trueName" ng-model="serchData.trueName_like"   type="text"  dataTableSerch> <label for="trueName">用户真名</label>
				      </div>
				</div>
			</div>
        </div>
        <div class="col s12 m3 l5 right-align pt-20">
        	<!-- 修改按钮 -->
		<!-- 	<a class="btn pr-10 pl-10" ng-click="fnModify()"><i class="fa fa-pencil-square-o " aria-hidden="true"></i>重新结算</a> -->
				<!-- 刷新按钮 -->
			<a class="btn pr-10 pl-10"  ng-click="fnList()"><i class="fa fa-refresh "></i>刷新</a>
			
				<!-- 导出按钮 -->
			<a class="btn pr-10 pl-10" ng-click="fnExcel()"><i class="fa fa-refresh "></i>导出</a>
			
        </div>
      </div>
    </div>
    <!-- /Handle -->

<div >
	<div class="row">

		<div class="col s12 ">
			<table id="table2"
				class="display table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th><input type="checkbox" id="checkboxAll" /><label
							for="checkboxAll"></label></th>
						<th>用户账号</th>
						<th>姓名</th>
						<th>总可用金额</th>
						<th>总冻结金额</th>
						<th>总充值金额</th>
						<th>总提现金额</th>
						<th>资金变动值</th>
						<th>收益率</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>

</div>




